<template>
<div>
    <app-panel></app-panel>
<div class="container">
        <h1 class="text-center text-light pt-5">Messages</h1>
    <div class="d-flex justify-content-center">

    <table class="table table-striped  table-dark mt-5  ml-5 mb-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Subject</th>
      <th scope="col">Message</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="contact in displayedContacts" v-bind:key="contact._id">
      <th scope="row"></th>
      <td>{{contact.name}}</td>
      <td>{{contact.email}}</td>
      <td>{{contact.subject}}</td>
      <td><button type="button" class="btn btn-info btn-sm" @click.stop="goToMessage(contact._id)" >Read</button></td>
    </tr>
  </tbody>
</table>
</div>
                  <div class="d-flex justify-content-center mt-5">
  <nav aria-label="Page navigation example">
            <ul class="pagination float-right">
                <li class="page-item">
                    <button type="button" class="page-link" v-if="page != 1" @click="page--"> Previous </button>
                </li>
                <li class="d-flex">
                    <button type="button" class="page-link" v-for="pageNumber in pages.slice(page-1, page+5)" :key="pageNumber" @click="page = pageNumber">{{pageNumber}}</button>
                </li>
                <li class="page-item">
                    <button type="button" @click="page++" v-if="page < pages.length" class="page-link"> Next </button>
                </li>
            </ul>
        </nav>
            </div>
</div>
</div>
</template>

<script>
/* eslint-disable */
import { mapGetters } from "vuex";
import Panel from '../Panel/Panel.vue';
import axios from 'axios';
    export default {
      name: 'ShowContacts',
        data(){
            return{
                contacts: [''],
			    page: 1,
			    perPage: 4,
                pages: [],
            }
        },
        components:{
            appPanel:Panel
        },
        created () {
        axios.get(`http://localhost:4000/contact`)
        .then(response => {
          this.contacts = response.data
        })
        .catch(e => {
          this.errors.push(e)
        })
      },
        computed: {
    displayedContacts() {
       return this.paginate(this.contacts.filter(x => x.email));
	
    },
        ...mapGetters({
// map `this.user` to `this.$store.getters.user`
      user: "user"
    })
    },
      watch:{
         contacts () {
			this.setPages();
		}
     },
        methods: {
    setPages () {
      let numberOfPages = Math.ceil(this.contacts.filter(x => x.email).length / this.perPage);
      for (let index = 1; index <= numberOfPages; index++) {
				this.pages.push(index);
			}
			
		},
		paginate (posts) {
			let page = this.page;
			let perPage = this.perPage;
			let from = (page * perPage) - perPage;
			let to = (page * perPage);
			return  posts.slice(from, to);
        },
        goToMessage(messId) {
    let mId=messId
    
    this.$router.push({name:'readmessage',params:{Mid:mId}});
  
    this.$route.params.Mid;
      
  }  
      }
  }

</script>