<template>
<div>
  <app-Panel></app-Panel>
  <div class="hello">
    <div id="todo-list-example" class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <h1 class="text-center admin-titulli text-light mt-5">Read the Message</h1>
    <table class="col-md-12 mt-3 table table-striped table-dark tabela">
            <thead>
                <tr class="text-center">
                <th scope="col" class="text-danger">Name</th>
                <th scope="col" class="text-danger">Email</th>
                <th scope="col" class="text-danger">Subject</th>
                </tr>
            </thead>
            <tbody>
        <tr class="text-center" v-for="(contact) in contacts" v-bind:key="contact.id">
              <td>{{contact.name}}</td>
              <td>{{contact.email}}</td>
              <td>{{contact.subject}}</td>
                            </tr>

            </tbody>
            <thead>
            <tr class="text-center">
            <th colspan='3' class="text-success">Message:</th>
            </tr> 
            </thead>
            <tbody v-for="(contact) in contacts" v-bind:key="contact.id">
                <td colspan="3">{{contact.message}}</td>
            </tbody>
           
        </table>          
        </div>
      </div>
    </div>
          </div>
          </div>
</template>

<script>
  import axios from 'axios';
import { mapGetters } from "vuex";
import Panel from '../Panel/Panel.vue';
  export default {
    data() {
      return {
        contacts: [],
        messageId:this.$route.params.Mid,
      }
    },
             components:{
            appPanel:Panel
        },
    created() {

        axios.get(`http://localhost:4000/contact`)
        .then(response => {
          this.contacts = response.data
        })
        .catch(e => {
          this.errors.push(e)
        })

    },
     computed: {
    ...mapGetters({
      user: "user"
    })
     },
  }
</script>