<template>
    <div class="admin-nav">
        <h6 class="text-white hi">Hi {{user.data.displayName}}!</h6>
        <hr class="hr-admin-name bg-secondary" width="200">
        <li :class="[currentPage.includes('adminpanel') ? activeClass : '', 'nav-item']" id="li-home">
    <router-link to="/adminpanel">
        <a class="nav-link">
        <i class="fa fa-fw fa-home nav-ikonat "></i>
        <span class="nav-text">Home</span> 
        </a> 

    </router-link>
        </li>
    <router-link to="/dashboard" active-class="Pactive" exact> <a class="nav-link "><i class="fa fa-fw fa-plus nav-ikonat"></i><span class="nav-text">Add News</span></a></router-link>
     <router-link to="/newslist" active-class="Pactive" exact> <a class="nav-link "><i class="fa fa-fw  fa-newspaper-o nav-ikonat"></i><span class="nav-text">News List</span></a></router-link>
     <router-link to="/addcategory" active-class="Pactive" exact> <a class="nav-link "><i class="fa fa-fw fa-arrow-down nav-ikonat"></i><span class="nav-text">Categories</span></a></router-link>
        <router-link to="/addgame" active-class="Pactive" exact> <a class="nav-link "><i class="fa fa-fw  fa-gamepad nav-ikonat"></i><span class="nav-text">Games</span></a></router-link>
   <router-link to="/gameslist" active-class="Pactive" exact> <a class="nav-link "><i class="fa fa-fw  fa-twitch nav-ikonat"></i><span class="nav-text">Games List</span></a></router-link>
   <router-link to="/adv" active-class="Pactive" exact> <a class="nav-link "><i class="fa fa-fw fa-exclamation-circle nav-ikonat"></i><span class="nav-text">Adverts</span></a></router-link>
	<router-link to="/addtrailer" active-class="Pactive" exact> <a class="nav-link "><i class="fa fa-fw  fa-caret-square-o-right nav-ikonat"></i><span class="nav-text">Trailers</span></a></router-link>
	<router-link to="/messages" active-class="Pactive" exact> <a class="nav-link "><i class="fa fa-fw  fa-envelope nav-ikonat"></i><span class="nav-text">Messages</span></a></router-link>
   
    <a class="nav-link" @click="signOut()" style="cursor:pointer"><i class="fa fa-sign-out nav-ikonat" aria-hidden="true"></i><span class="nav-text">LogOut</span></a>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'
import firebase from 'firebase'
    export default {
        data(){
            return{
                activeClass: 'Pactive',
            };
        },

        computed:{
		
		...mapGetters({
		
			user:"user"
		}),
            currentPage(){
                return this.$route.path;
            }
        },

        methods:{
             signOut() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.push({
            name: "login"
          });
        });
    }
        }

    }
</script>

<style>
@import 'Panel.css';
</style>