.banner-Cnews{
    width: 100%;
    height:500px;
    opacity: 1;
    filter: brightness(1.1)
}
.postimetC{
    height: 200px;
  }
  .postimetC img{
    display:block;
    height:200px;
    width:auto;
    object-fit: cover;
}
.pictureC{
    border-radius: 0;
}
.category-sidebar{
    background-color: rgb(57, 59, 57);
    border-radius: 10px;
}
.sidebar-img{
    width:50px;
    height:60px;
    transition: transform .2s;
    box-shadow:2px 1px 5px 4px rgb(43, 43, 43);
}
.title-sidebar{
    font-size:18px
}
.sidebar-body-c{
    background-color: rgb(69, 71, 69);
    transition: transform .2s;   
}
.sidebar-body-c:hover{
    transform: scale(1.07);
}
.sidebar-img:hover{
    transform: scale(1.5);
}
.adv{
    height: 100px;
    position: relative;
}
.adv-img{
    height: 100%;
    width: 100%;
    filter:opacity(60%);    
}

.info-adv{
    position: absolute;
    top:30%;
    left:3%;
    background: linear-gradient(to right,rgb(38, 38, 38),transparent);
    border-left:5px solid rgb(209, 207, 207);
    padding-left:5px;
    padding-bottom:5px;
}

div .n{
    white-space: wrap; 
    width: 90%;
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis; 
}
@media only screen and (max-width: 768px) {
   
    
    .trailer-mobile{
        display: none;
    }
   }
