<template>
<div class="categoryP" >
<div class="" v-for="category in category" v-bind:key="category._id">
    <img :src="category.icon" class="banner-Cnews">
      <h3 class="container mt-3 mb-3 text-white" ><span class="bg-dark pl-3 pr-3 rounded">{{category.name}}</span></h3>
</div>

<div class="container">
  


  <div class="row">
    <div class="col">
            <div class="card-deck">
            <div class="card" v-for="news in news1" v-bind:key="news._id">
              <router-link  :to="{name: 'readnews',params:{Nid:news._id}}">
            <div class="postimetC">
            <picture>
            <source class="pictureC" media="(min-width:1000px)" :srcset="news.bigimage">
            <source class="pictureC" media="(min-width:768px)" :srcset="news.mediumimage" >
            <img class="pictureC" :src="news.smallimage" alt="Flowers" style="width: 100%"> 
            </picture> 
            </div>
             </router-link>
                <div class="card-body">
                   <router-link :to="{name: 'readnews',params:{Nid:news._id}}">

                <h6 class="card-title text-white">{{news.title}}</h6>
                <div class="n">
                <p class="card-text text-white"> {{news.content}}</p>
                </div>
               </router-link>
                </div>
                <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
                </div>
                
            </div>
            </div>
    </div>


    <div class="col trailer-mobile">
    <div class="card mb-3" v-for="news in trailerslider" v-bind:key="news._id">
         
            <div class="postimet">
            <img class="picture img-fluid" :src="news.image" alt="Flowers" style="width: 100%"> 
             
            </div>
        <div class="card-body">
          <router-link  :to="{name: 'readnews',params:{Nid:news._id}}">
       
            <h5 class="card-title text-white">{{news.title}}</h5>
           </router-link>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        </div>
    </div>

    <div class="w-100"></div>

    <div class="col trailer-mobile">
    <div class="card mb-3" v-for="news in trailerslider2" v-bind:key="news._id">
            <div class="postimet">
             
            <img class="picture img-fluid" :src="news.image" alt="Flowers" style="width: 100%"> 
           
            </div>
        <div class="card-body">
          <router-link :to="{name: 'readnews',params:{Nid:news._id}}">
       
            <h5 class="card-title text-white">{{news.title}}</h5>
          </router-link>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        </div>
    </div>

    <div class="col">
            <div class="card-deck">
            <div class="card" v-for="news in news2" v-bind:key="news._id">
            <div class="postimetC">
            
            <picture>
            <source class="pictureC" media="(min-width:1000px)" :srcset="news.bigimage">
            <source class="pictureC" media="(min-width:768px)" :srcset="news.mediumimage" >
            <img class="pictureC" :src="news.smallimage" alt="Flowers" style="width: 100%"> 
            </picture> 
            </div>
                <div class="card-body">
                  <router-link :to="{name: 'readnews',params:{Nid:news._id}}">
       
                <h6 class="card-title text-white">{{news.title}}</h6>
                  </router-link>
                <div class="n">
                <p class="card-text text-white"> {{news.content}}</p>
                </div>
                </div>
                <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            </div>
    </div>
  </div>
  <div class="adv w-100 " v-for="adv in adv" v-bind:key="adv._id">
    <h6 class="text-primary">Advertise here</h6>
    <img class="adv-img" :src="adv.bigimage">
    <div class="info-adv">
    <span class="text-light" style="display:block;">{{adv.title}}</span>
    <span class="text-light" style="display:block;">{{adv.description}}</span>
    <a class="btn btn-outline-primary btn-sm text-light">{{adv.title}}</a>
    </div>
  </div>

<div class="container my-5">

 <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

      <!--Controls-->
      <div class="controls-top float-right mb-3">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
      <!--/.Controls-->

      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

          <div class="row">
            <div class="col-md-4" v-for="news in newsfields" v-bind:key="news._id">
              <div class="card mb-2">
            <div class="postimetC">
              
            <picture>
            <source class="pictureC" media="(min-width:1000px)" :srcset="news.bigimage">
            <source class="pictureC" media="(min-width:768px)" :srcset="news.mediumimage" >
            <img class="pictureC" :src="news.smallimage" alt="Flowers" style="width: 100%"> 
            </picture> 
            </div>
                <div class="card-body">
                  <router-link :to="{name: 'readnews',params:{Nid:news._id}}">
       
                  <h6 class="card-title text-white">{{news.title}}</h6>
                  </router-link>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-4" v-for="news in newsfields2" v-bind:key="news._id">
              <div class="card mb-2">
            <div class="postimetC">
              
            <picture>
            <source class="pictureC" media="(min-width:1000px)" :srcset="news.bigimage">
            <source class="pictureC" media="(min-width:768px)" :srcset="news.mediumimage" >
            <img class="pictureC" :src="news.smallimage" alt="Flowers" style="width: 100%"> 
            </picture> 
            </div>
                <div class="card-body">
                  <h6 class="card-title text-white">{{news.title}}</h6>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.Second slide-->
      </div>
      <!--/.Slides-->
    </div>
    </div>
    <!--/.Carousel Wrapper-->
  <div class="row">
    <div class="col-sm category-sidebar mb-5" >
      <h3 class=" text-white">Latest Games <i class="fa fa-gamepad" style="color:rgb(24, 140, 26);font-size:20px"></i></h3>
      <hr class="bg-white w-70">
                  <div class="card mb-4 sidebar-body-c" v-for="game in games" v-bind:key="game._id">
                <div class="card-body " style="border-left:5px solid rgb(189, 189, 189);">
                  <router-link class="choose-platform" :to="{name: 'gamedetails',params:{Gid:game._id}}">
                <span class="card-title title-sidebar text-light pl-1">  {{game.name}}</span>
                <img :src="game.image" class="sidebar-img float-right">
                  </router-link>
                </div>
            </div>
       <hr class="bg-white w-70"> 
                         <div class="card mb-4 sidebar-body-c" >
                <div class="card-body " style="border-left:5px solid rgb(209, 207, 207);" v-for="news in trailerslider" v-bind:key="news._id">
                <img class="w-100 h-50" :src="news.image">
                </div>
                <div class="card-footer">
                <span class="card-title title-sidebar text-light pl-1"> Popular on GameON</span>

                </div>
            </div>    
    </div>

    <div class="col-sm ml-3">
                  <div class="card mb-5" v-for="news in news3" v-bind:key="news._id">
                <div class="postimetC">
            <picture>
            <source class="pictureC" media="(min-width:1000px)" :srcset="news.bigimage">
            <source class="pictureC" media="(min-width:768px)" :srcset="news.mediumimage" >
            <img class="pictureC" :src="news.smallimage" alt="Flowers" style="width: 100%"> 
            </picture> 
            </div>
                <div class="card-body">
                <h5 class="card-title text-white">{{news.title}}</h5>
                <div class="n">
                <p class="card-text text-white">{{news.content}}</p> </div>
                </div>
                <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>            
    </div>
    <div class="col-sm">
                  <div class="card mb-5" v-for="news in news4" v-bind:key="news._id">
                <div class="postimetC">
            <picture>
            <source class="pictureC" media="(min-width:1000px)" :srcset="news.bigimage">
            <source class="pictureC" media="(min-width:768px)" :srcset="news.mediumimage" >
            <img class="pictureC" :src="news.smallimage" alt="Flowers" style="width: 100%"> 
            </picture> 
            </div>
                <div class="card-body">
                <h5 class="card-title text-white">{{news.title}}</h5>
                <div class="n">
                <p class="card-text text-white">{{news.content}}</p> </div>
                </div>

                <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div> 
    </div>
    
  </div>
</div>




    <!--Carousel Wrapper-->
   


    </div>
</template>

<script>
import axios from 'axios';

  export default {
    data () {
      return {
        games: {},
        news: {},
        news1: {},
        news2: {},
        news3: {},
        news4: {},
        category: {},
        newsfields: {},
        newsfields2: {},
        trailers: {},
        trailerslider: {},
        trailerslider2: {},
        adv: {}
      }
    },
    created(){
              axios.get(`http://localhost:4000/games` )
    .then(response => {
        this.games = response.data.filter( x => x.category == this.$route.params.Cid).slice(-4).reverse()

    })
    .catch(e => {
        this.error.push(e)
    })
        axios.get(`http://localhost:4000/news` )
    .then(response => {
        this.news = response.data.sort(function() {
  return .5 - Math.random();
}).slice(0,4)
    })
    .catch(e => {
        this.error.push(e)
    })
    axios.get(`http://localhost:4000/adv`)
    .then(response => {
      this.adv = response.data.slice(-1)
    })
    .catch(e => {
      this.error.push(e)
    })

    axios.get(`http://localhost:4000/category`)
    .then(response => {
        this.category = response.data.filter(x => x._id == this.$route.params.Cid);
    })
    .catch(e => {
        this.error.push(e)
    })
    axios.get(`http://localhost:4000/news` )
    .then(response => {
        this.news1=response.data.filter( x => x.category == this.$route.params.Cid).slice(-2).reverse()
        this.news2 = response.data.filter( x => x.category == this.$route.params.Cid).slice(-4, -2)
        this.news3 = response.data.filter( x => x.category == this.$route.params.Cid).slice(-7, -4).reverse()
        this.news4 = response.data.filter( x => x.category == this.$route.params.Cid).slice(-10, -7).reverse()

        this.newsfields = response.data.filter( x => x.category == this.$route.params.Cid).sort(function() {
  return .5 - Math.random();
}).slice(0,3)
        this.newsfields2 = response.data.filter( x => x.category == this.$route.params.Cid).sort(function() {
  return .5 - Math.random();
}).slice(0,3)
    })
    .catch(e => {
        this.error.push(e)
    })

    
            axios.get(`http://localhost:4000/trailers` )
    .then(response => {
        this.trailerslider=response.data.slice(-1)
        this.trailerslider2=response.data.slice(-2, -1)
    })
    .catch(e => {
        this.error.push(e)
    })
    },
  }
</script>

<style >
@import 'Category.css';
</style>