<template>
<div >
   <img src="../../assets/games-banner.jpg" class="games-news">
   <div class="mobile-games">
    <h3 class="banner-h3-games">Watch_Dogs</h3>
    <p class="banner-p-games">Watch Dogs (stylized as WATCH_DOGS) is a 2014 action-adventure game developed by Ubisoft Montreal and published by Ubisoft.</p>
    <button class="btn btn-danger banner-btn-games"><i class="fa fa-shopping-cart"></i>Buy Game</button>
    <button class="btn btn-dark banner-btn-games2"><i class="fa fa-play"></i>Buy Game</button> 
   </div>
<div class="container carousel-news mb-5">
    

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

      <!--Controls-->
      <div class="controls-top row mb-5">
        <a class="btn btn-outline-light mt-2 carousel-news-buton" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn btn-outline-light mt-2 carousel-news-buton-right" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
      <!--/.Controls-->

      <!--Indicators-->
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox">

        <!--First slide-->
      <div class="carousel-item active">

      <div class="row">
        <div class="col-md-3" v-for="game in gameps" v-bind:key="game._id">
          <div class="card mb-2">
           <router-link class="choose-platform" :to="{name: 'gamedetails',params:{Gid:game._id}}" style="text-decoration:none">  
            <div class="postimet-game">
            <img class="picture-games" :src="game.image" alt="Flowers" style="width: 100%"> 
            </div>
            <div class="card-body text-center">
            <div class="separator">
              <a class="btn btn-primary mb-2 text-light ml-2 mr-2 ">PS4</a>
            </div>              
              <h5 class="card-title text-center trailerpost-title">{{game.name}}</h5>
            </div>
           </router-link>
          </div>
        </div>
      </div>
      </div>
        <!--/.First slide-->

        <!--Second slide-->
      <div class="carousel-item">
        <div class="row">
        <div class="col-md-3" v-for="game in gamexb" v-bind:key="game._id">
          <div class="card mb-2">
            <router-link class="choose-platform" :to="{name: 'gamedetails',params:{Gid:game._id}}" style="text-decoration:none"> 
            <div class="postimet-game">
            <img class="picture-games" :src="game.image" alt="Flowers" style="width: 100%"> 
            </div>
            <div class="card-body text-center">
            <div class="separator">
              <a class="btn btn-success mb-2 text-light ml-2 mr-2">XBOX</a>
            </div>              
              <h5 class="card-title text-center text-white">{{game.name}}</h5>
            </div>
            </router-link>
          </div>
        </div>
  </div>
  </div>
     <!--/.Second slide-->
      </div>
      <!--/.Slides-->
    </div>
    </div>       
  <hr class="bg-secondary w-60 container">
    <div class="card middle-content  mt-5">
        <div class="row no-gutters col-md-12 p-0">
          <div class="col-md-4 middle-left-games">
            <div class="animate__animated animate__fadeInLeft svg-gamesleft" style="animation-duration: 3s; animation-iteration-count: infinite;">
         
          <svg class="games-circle" height="100" width="300">
  <circle cx="150" cy="35" r="10" stroke="rgb(222, 52, 235)" stroke-width="3" fill="transparent" />
</svg> 

<svg class="games-circle1" height="100" width="300">
  <circle cx="160" cy="35" r="10" stroke="rgb(52, 198, 235)" stroke-width="3" fill="transparent" />
</svg> 
<svg class="games-square2" width="300" height="30">
<rect width="90" height="30" style="fill:transparent;stroke-width:7;stroke:rgb(13, 148, 42)" />
  </svg>
<svg class="games-circle3" height="100" width="300">
  <circle cx="150" cy="35" r="10" stroke="rgb(252, 134, 61)" stroke-width="3" fill="transparent" />
</svg> 
<svg class="games-circle4" height="100" width="300">
  <circle cx="160" cy="35" r="10" stroke="rgb(236, 252, 61)" stroke-width="3" fill="transparent" />
</svg> 
            </div>
 
      </div>
      <div class="col-md-3 d-flex">
        
         <div id="balls-container">
  <div class="balls text-center">
    <div class="ball ball-red ">G</div>
    <div class="ball ball-blue">A</div>
    <div class="ball ball-red">M</div>
    <div class="ball ball-blue">E</div>
    <div class="ball ball-red">S</div>
  </div>
</div>
      </div>  

      <div class="col-md-4 svg-gamesleft">
         <svg height="38" width="50" style="position: absolute; right: 40%">
  <circle cx="30" cy="25" r="10" stroke="rgb(236, 252, 61)" stroke-width="3" fill="transparent" />
</svg> 

 <svg height="38" width="50" style="position: absolute; right: 20%;">
  <circle cx="30" cy="25" r="10" stroke="rgb(66, 141, 245)" stroke-width="3" fill="transparent" />
</svg> 

<svg width="100" height="80" style="position: absolute; right: 15%; top: 25%">
  <rect x="20" y="20" width="20" height="20" style="stroke:rgb(245, 66, 66);stroke-width:3;fill-opacity:0.1;stroke-opacity:0.9" />
</svg>

 <svg height="38" width="50" style="position: absolute; right: 18%;bottom:45% ">
  <circle cx="30" cy="25" r="10" stroke="rgb(245, 126, 66)" stroke-width="3" fill="transparent" />
</svg> 

 <svg height="38" width="50" style="position: absolute; right: 2%;top:20% ">
  <circle cx="30" cy="25" r="10" stroke="rgb(3, 252, 152)" stroke-width="3" fill="transparent" />
</svg> 

<svg width="40" height="20" style="position: absolute; right: 8%">
<rect width="40" height="20" style="fill:transparent;stroke-width:7;stroke:rgb(66, 245, 164)" />
  </svg>

<svg width="40" height="20" style="position: absolute; right: 5%;bottom:60%;">
<rect width="40" height="20" style="fill:transparent;stroke-width:7;stroke:rgb(3, 198, 252)" />
  </svg>

  <svg  height="10" width="50" style="position: absolute;right: 30%; top: 20%" >
  <line x1="0" y1="0" x2="30" y2="0" style="stroke:rgb(152, 66, 245);stroke-width:7" />
</svg>

<svg width="100%" height="80px" viewBox="0 0 400 400" xmlns="http://www.w3.org/2000/svg" style="position: absolute;bottom:20%;">
  <path 
        d="M 100 100 L 200 100 L 200 200 z"
        fill="transparent" 
        stroke="rgb(245, 123, 66)" 
        stroke-width="16" />
</svg>

  <svg  height="10" width="50" style="position: absolute;right: 30%; top: 45%" >
  <line x1="0" y1="0" x2="30" y2="0" style="stroke:rgb(102, 252, 3);stroke-width:7" />
</svg>

<svg width="100" height="80" style="position: absolute; right: 20%; top: 2%">
  <rect x="20" y="20" width="20" height="20" style="stroke:pink;stroke-width:3;fill-opacity:0.1;stroke-opacity:0.9" />
</svg>
<svg width="100" height="80" style="position: absolute; right: 5%; top: 10%">
  <rect x="20" y="20" width="20" height="20" style="stroke:rgb(252, 202, 3);stroke-width:3;fill-opacity:0.1;stroke-opacity:0.9" />
</svg>
<svg width="100" height="80" style="position: absolute; right: 1%; top: 2%">
  <rect x="20" y="20" width="20" height="20" style="stroke:rgb(252, 157, 3);stroke-width:3;fill-opacity:0.1;stroke-opacity:0.9" />
</svg>

 <svg width="100%" height="60px" viewBox="30 30 30 250" xmlns="http://www.w3.org/2000/svg" style="position: absolute; top: 20%">
  <path 
        d="M 100 100 L 200 100 L 200 200 z"
        fill="transparent" 
        stroke="rgb(66, 245, 194)" 
        stroke-width="16" />
</svg>
      </div>  
    </div>

  </div>
<div class="container">

<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4 games-animation" v-for="game in games" v-bind:key="game._id">
    <div class="card" >
      <router-link class="choose-platform" :to="{name: 'gamedetails',params:{Gid:game._id}}" style="text-decoration:none"> 
    <div class="postimet-game">
    <img class="picture-games" :src="game.image" alt="Flowers" style="width: 100%"> 
    </div>
      <div class="card-body">
        <h5 class="card-title text-light text-center">{{game.name}}</h5>
      </div>
      </router-link>
    </div>
  </div>
</div>
<div class="d-flex">
<button class="btn btn-outline-primary mx-auto my-5" @click="animated = !animated" > Load More <i class="fa fa-arrow-down"></i></button>
</div>
<section>
<transition name="animate" enter-active-class="animate__animated animate__flipInY" leave-active-class="animate__animated animate__zoomOutRight">
<div class="row row-cols-1 row-cols-md-3" v-if="animated">
  <div class="col mb-4 games-animation" v-for="gamesMore in games" v-bind:key="gamesMore._id">
    <div class="card" >
      <router-link class="choose-platform" :to="{name: 'gamedetails',params:{Gid:gamesMore._id}}" style="text-decoration:none"> 
    <div class="postimet-game">
    <img class="picture-games" :src="gamesMore.image" alt="Flowers" style="width: 100%"> 
    </div>
      <div class="card-body">
        <h5 class="card-title text-light text-center">{{gamesMore.name}}</h5>
      </div>
      </router-link>
    </div>
  </div>
</div>
</transition>
 </section>
</div>
</div>
</template>

<script>
import axios from 'axios';

  export default {
    data () {
      return {
        gameps: {},
        gamexb: {},
        games: {},
        gamesMore: {},
        animated: false
      }
    },
    created(){
        axios.get(`http://localhost:4000/games` )
    .then(response => {
        this.gameps = response.data.slice(-4)
        this.gamexb = response.data.slice(-4)
        this.games = response.data.slice(-6)
        this.gamesMore = response.data
    })
    .catch(e => {
        this.error.push(e)
    })
    },

    mounted(){
    this.$anime({
  targets: '.ball',
  translateY: -50,
  loop: true
});
    }
  }
</script>

<style>
@import 'Games.css';
</style>