.games-news{
    width: 100%;
    filter: opacity(50%);
}
.banner-h3-games{
    position: absolute;
    top:25%;
    left:10%;
    color:white;
    font-weight: 600;
}
.banner-p-games{
    position: absolute;
    top:32%;
    left:10%;
    color:white;
    width:30%;
    font-weight: 600;
}
.banner-btn-games{
    position: absolute;
    top:45%;
    left:10%;
    color:white;
    font-weight: 600;
}
.banner-btn-games2{
    position: absolute;
    top:45%;
    left:23%;
    color:white;
    font-weight: 600;
}
.carousel-news{
    margin-top: -180px;
}
.postimet-game{
    height: 300px;
    width:100%;
    cursor: pointer;
  }
  .postimet-game img{
    display:block;
    height:300px;
    width:auto;
    object-fit: contain;
    }

    .games-animation{
        transition: 1s ease;   
        
    }
    .games-animation:hover{
        transform: scale(1.07);
    }

    .games-circle{
        position: absolute;
        left: 28%;
        top: 13%;
    }

    .games-circle1{
        position: absolute;
        left: 27%;
        top: 13%
    }

    .games-square2{
        position: absolute;
        left: 43%;
    
    }

    .games-circle3{
        position: absolute;
        left: 13%;
        top: 13%
    }

    .games-circle4{
        position: absolute;
        left: 12%;
        top: 13%
    }

    #balls-container {
        position: relative;
        width: 100%;
        height: 200px;
      }
      
      .balls {
        position: absolute;
        width: 100%;
        height: 80px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        margin-left: 16%;
      }

      
      .ball {
        width: 30px;
        height: 30px;
        margin: 0 10px;
        border-radius: 50%;
        color: white
      }
        .ball-red {
          background: rgb(1, 199, 149);
        }
        .ball-blue {
          background: rgb(35, 98, 138);
        }
      

@media (max-width: 768px) {
        .mobile-games{
         display: none;
        }

        .balls{
            margin: 0;
            margin-top: 10%
        }

        .svg-gamesleft{
            display: none;
        }

}