<template>
		<div>
		<app-Panel></app-Panel>
    <div class="d-flex">
   <div class="container">  
       
      <div class="container">
        <h1 class="admin-content mt-5 mb-5 text-white text-center"> News List </h1>
        
		<table class="col-md-12 mt-3 table table-striped table-dark tabela">
            <thead>
                <tr class="text-center">
                <th scope="col">Title</th>
                <th scope="col">Date</th>
				<th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" v-for="posts in displayedPosts" v-bind:key="posts._id">
                                <td>{{ posts.title }}</td>
                                 <td>{{ posts.updated_date }}</td>
			<td><button type="button" class="btn btn-outline-danger p-1 pl-2"  @click.stop="deletepost(posts._id)"><i class='fa fa-trash'></i> </button></td>
                            
                            </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-center">
           <nav class="bg-transparent" aria-label="Page navigation example">
            <ul class="pagination float-right">
                <li class="page-item d-flex">
                    <button type="button" class="page-link bg-warning text-white " v-if="page != 1" @click="page--"> Previous </button>
                </li>
                <li class="page-item d-flex">
                    <button type="button" class="page-link bg-dark text-white" v-for="pageNumber in pages.slice(page-1, page+5)" v-bind:key="pageNumber" @click="page = pageNumber">{{pageNumber}}</button>
                </li>
                <li class="page-item d-flex">
                    <button type="button" @click="page++" v-if="page < pages.length" class="page-link bg-danger text-white"> Next </button>
                </li>
            </ul>
        </nav>
          </div>
			</div>
          </div></div>
    </div>
</template>

<script>
import axios from 'axios'
import Panel from '../Panel/Panel.vue';
export default {
    name: 'Get',
   data () {

    return {
      posts : [''],
			page: 1,
			perPage: 5,
      pages: [],
      
     
       }},
        components:{
            appPanel:Panel
        },
        created() {
           axios.get(`http://localhost:4000/news` ) 
    .then(response => {
      this.posts = response.data.reverse()
    })
    .catch(e => {
      this.errors.push(e)
    })
     },
    
     watch:{
         posts () {
			this.setPages();
		}
     },
        computed: {
    displayedPosts () {
       return this.paginate(
         this.posts
       )
                
                }
  },
    
      methods: {
		setPages () {
        let numberOfPages = Math.ceil(this.posts.length / this.perPage);
         for (let index = 1; index <= numberOfPages; index++) {
				this.pages.push(index);
      }
			
		},
		paginate (posts) {
			let page = this.page;
			let perPage = this.perPage;
			let from = (page * perPage) - perPage;
			let to = (page * perPage);
			return  posts.slice(from, to);
		},        
      
    deletepost (postid){
      var r = confirm("A dëshironi të fshini lajmin?");
      if (r == true) {
      axios.delete('http://localhost:4000/news/' + postid)
        .then(() => {
              //refresh on same page
              this.$router.go({
               
              })
            })
            .catch(e => {
              this.errors.push(e)
            })
      } 
            
        },
}

}


</script>