<template>
    <div>
    
    
    <div class="banneraboutus">
  <img src="../../assets/photo5.jpg" alt="Snow" class="banner-about">

  <div class="centered">
<h1 class="animate__animated animate__fadeInUp"> GameON </h1>
  <p class="about-paragraf animate__animated animate__fadeInLeft">Hey folks, beloved mascot Coconut Monkey here representing the collective PC Gamer editorial team, who worked together to write this article! </p>
    <button class="btn btn-danger animate__animated animate__bounceInUp"> ABOUT </button>
    </div>

</div>
    <div class="container my-5">
    <div class="row">
    <div class="col-md-5 p-5">
        <h1 class="text-white"> GameON</h1>
        <p class="text-white"> Latest News about gaming. PC Gamer is the global authority on PC games. </p>
    </div>

    <div class="col-md-7 p-5">
        <p class="text-white"> PC Gamer is a member of the Independent Press Standards Organisation (which regulates the UK’s magazine and newspaper industry). We abide by the Editors’ Code of Practice and are committed to upholding the highest standards of journalism. <br><br> If you think that we have not met those standards and want to make a complaint please contact editors@pcgamer.com. If we are unable to resolve your complaint, or if you would like more information about IPSO or the Editors’ Code, contact IPSO on 0300 123 2220 or visit www.ipso.co.uk.</p>
    </div>
    </div>
    </div>


</div>
</template>

<style>
@import 'AboutUs.css';
</style>