.banner-about{
   
    width: 100%;
    height: 500px;
    opacity: 1;
    filter: brightness(1.1);
    object-fit: cover;
}

.banneraboutus{
    position: relative;
    text-align: center;
    color: white;
}


  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Fira Sans', sans-serif;
    font-size:40px;
  }

.about-paragraf{
    font-family: 'Fira Sans', sans-serif;
    font-size:15px;
}

.centered .animate__fadeInLeft {
 /* referring directly to the animation's @keyframe declaration */
  animation-duration: 6s; /* don't forget to set a duration! */
}
.centered .animate__bounceInUp{
  animation-duration: 5s;
}
.centered .animate__fadeInUp{
  animation-duration: 3s;
}
