<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card">

          <div class="card-body">
             <div class="card mt-5 text-white"><h1 style="font-family:'Fira Sans', sans-serif; text-align: center;">Register </h1></div>
            <div v-if="error" class="alert alert-danger">{{error}}</div>
            <form action="#" @submit.prevent="submit">
              <div class="form-group">
                <label for="name" class="ml-3 col-form-label text-white" style="font-family:'Fira Sans'">Name</label>
                <div class="col-md-12">
                  <input
                    id="name"
                    type="name"
                    class="form-control"
                    name="name"
                    value
                    required
                    autofocus
                    v-model="form.name"
                  />
                </div>
              </div>

              <div class="form-group">
                <label for="name" class="ml-3 col-form-label text-white" style="font-family:'Fira Sans'">Email</label>

                <div class="col-md-12">
                  <input
                    id="email"
                    type="email"
                    class="form-control"
                    name="email"
                    value
                    required
                    autofocus
                    v-model="form.email"
                  />
                </div>
              </div>

              <div class="form-group">
                 <label for="name" class="ml-3 col-form-label text-white" style="font-family:'Fira Sans'">Password</label>

                <div class="col-md-12">
                  <input
                    id="password"
                    type="password"
                    class="form-control"
                    name="password"
                    required
                    v-model="form.password"
                  />
                </div>
              </div>

              <div class="form-group row mb-0">
                <div class="col-md-8 offset-md-8">
                  <button type="submit" class="btn btn-primary">Register</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
/* eslint-disable*/
import firebase from "firebase";

export default {
  data() {
    return {
      form: {
        name: "",
        email: "",
        password: ""
      },
      error: null
    };
  },
  methods: {
    submit() {
      firebase
        .auth()
        .createUserWithEmailAndPassword(this.form.email, this.form.password)
        .then(data => {
          data.user
            .updateProfile({
              displayName: this.form.name
            })
            this.$router.push({name: 'adminpanel',})
        })
        .catch(err => {
          this.error = err.message;
        });
    }
  }
};
</script>