<template>
<div class="readnews">
  

 <div v-for="(news,index) in news" v-bind:key="index" >
 
          <div style="width:100%:">
         <img :src="news.bigimage" class="img-fluid" style="width:100%">
         <h1 class="mb-5 title-rendered text-center mt-5">{{news.title}}</h1>
           
         <div class="post-content"><p>{{news.content}}</p></div>
         </div>

      </div>
      <div class="container mt-5 mb-3">
         <div class="adv w-100 mb-5" v-for="adv in adv" v-bind:key="adv._id">
    <h6 class="text-primary">Advertise here</h6>
    <img class="adv-img" :src="adv.bigimage">
    <div class="info-adv">
    <span class="text-light" style="display:block;">{{adv.title}}</span>
    <span class="text-light" style="display:block;">{{adv.description}}</span>
    <a class="btn btn-outline-primary btn-sm text-light">{{adv.title}}</a>
    </div>
  </div>
      <span class="choose ml-3 "> Latest News: </span>
      </div>

       
      <div class="container postimet-e-fundit">
  

   <div v-for="(post,index) in news1" v-bind:key="index" class="seksion">
         <div class="latestposts">
           <a @click="goTodetail(post._id)">
         <img :src="post.bigimage" class="img-fluid latestpost-image" >
           </a>
        <a @click.prevent="goTodetail(post.id)" class="latest-titles">{{post.title}}</a>
         </div>    
      </div>
      </div>


  <!-- Portfolio Item Row -->
  
  <!-- /.row -->

  <!-- Related Projects Row -->
  






         
</div>
</template>

<script>

import axios from 'axios';

export default {
  
    name: 'Get',
   data () {

    return {
        news:{},
        news1:{},
        categoryfields:{},
        adv:{}
       
     
       }},
        created() {
           axios.get(`http://localhost:4000/news`)
    .then(response => {
      this.news = response.data.filter(x => x._id == this.$route.params.Nid)
      this.news1 = response.data.slice(-3)
    })
    .catch(e => {
      this.errors.push(e)
    })

    axios.get(`http://localhost:4000/adv`)
    .then(response => {
      this.adv = response.data.slice(-1)
    })
    .catch(e => {
      this.error.push(e)
    })

   
        },
      methods: {
    goTodetail(newsId) {
    let nId=newsId
    
    this.$router.push({name:'readnews',params:{Nid:nId}}
    
    
    )
      
      window.scrollTo(0, 0);
  },  
            },
            

}


</script>

<style>
@import 'ReadNews.css';
</style>