

.title-rendered{
    font-family: 'Fira Sans', sans-serif;
    color: rgb(138, 136, 136); 
    font-size:30px;
    text-align: center;
  }

  .post-content{
    font-family: 'Fira Sans', sans-serif;
    color: rgb(138, 136, 136); 
    width:80%;
    margin-left: 10%;
    font-size:17px; 
     margin-top:40px
  }

  .postimet-e-fundit{
    padding-bottom: 2%;
  }

  .seksion{
    display: inline-block;
   border-radius: 20px;
    width:33%;
    text-align: center;
    padding: 1%;
  }

  .latest-titles{
    font-family: 'Fira Sans', sans-serif;
    color: rgb(138, 136, 136); 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:18px;
    cursor:pointer
  }
  .latestposts a{
    color:rgb(173, 173, 173);
  }
  .latestposts a:hover{
    text-decoration: none;
    color:rgb(88, 106, 140);
  }
 

  .latestpost-image{
    border-radius:20px; 
    width: 100%;
    cursor:pointer;
    height: 200px;
    object-fit: cover;
    margin-bottom:10px;
  }
  @media (max-width: 768px) {
      
  
    .post-content{
      width:85%;
       font-size:15px; 
       margin-top:20px;
       margin: 0;
       margin-left: 7.5%;
    }
    
    .latestpost-image{
        height: 250px;
        margin-bottom: 2%;
    }
  
    .seksion{
     
      width:100%;
      margin-bottom: 8%;
      
    }
    
    .title-rendered{
      font-size:30px;
      text-align: center;
    }
  
  }