#category-svg{
    width:250px;
    height: 250px;
  }

  .category{
    background: rgb(26, 26, 26);
  }

  .category h5{
    color: rgb(0, 134, 212);
  }

  .category span{
    color: rgb(0, 134, 212);
    font-weight: 600;
  }