<template>
<div>
  <app-Panel></app-Panel>
<div class="d-flex">
  <div class="container">
    <div class="col-md-12 d-flex justify-content-center mt-2 mb-3">
        <img src="../../assets/category.svg" class="img-fluid" id="category-svg">
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-md-6 shteti mb-5">
        <div class="card mt-2">
          <div class="admin-content card-header mb-3 text-center text-white"><h5>Categories</h5></div>
          
            <div class="alert category" v-for="(category,index) in categorylist" v-bind:key="index" >
            <h5 class="float-left admin-content">{{category.name}}</h5>
            <span class="pl-3 admin-content">{{category.description}}</span>
           <div class="float-right">
            <button type="button" class="btn btn-outline-danger mr-2"  @click.stop="deletecategory(category._id)">Delete</button>
            
           <button type="button" class="btn btn-outline-warning mr-2" @click.stop="editcategory(category._id)">Edit</button>
           </div>
            
            </div>
            
          
        </div>
      </div>
     

 
    <div class="col-md-5 adds mt-5">
    <form @submit.prevent="onSubmit">
      <div class="col-md-8 mb-3 mx-auto">
       <label for="name" class="text-white admin-content">Category Name</label>
      <input type="text" class="form-control" placeholder="Add category name" v-model="category.name">
        </div>

        <div class="col-md-8 mb-3 mx-auto">
       <label for="name" class="text-white admin-content">Description</label>
      <textarea class="form-control" placeholder="Write something... " v-model="category.description"></textarea>
        </div>
<div class="col-md-8 mb-3 mx-auto">
    
      <label for="image" class="text-white">Image</label>
      <input type="file" @change="previewImage" accept="image/*" class="form-control-file text-white" >
      <p class="text-white admin-content">Progress: {{uploadValue.toFixed()+"%"}}
      <progress id="progress"  :value="uploadValue" max="100" ></progress>  </p>
  
    <div v-if="imageData!=null">
       
      <button class="btn btn-success admin-content" @click="onUpload">Upload</button>
    </div>
  </div>
     
    <div class="row mt-4">
            <button class="btn btn-success mb-3 mx-auto admin-content" type="submit">Add Category <i class="fa fa-plus-circle pl-2"></i></button>
            </div>
      </form>
    </div>
    </div>
  </div>
    </div>
  </div>
</template>
<script>
/* eslint-disable */
import { mapGetters } from "vuex";
import axios from "axios";
import firebase from "firebase";
import Panel from '../Panel/Panel.vue';
export default {
  name: "Category",
  data() {
    return {
      imageData: null,
      picture:null,
      uploadValue: 0,
    categorylist:{},
    category:{}
    };
  },created () {
    axios.get(`http://localhost:4000/category`)
    .then(response => {
      this.categorylist = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
  },
  computed: {
    ...mapGetters({
// map `this.user` to `this.$store.getters.user`
      user: "user"
    })
  },
    components:{
            appPanel:Panel
        },
  methods: {
 onSubmit(evt) {
      evt.preventDefault();

      
      
          axios.post(`http://localhost:4000/category`, this.category)
      .then(response => {
        //console.log(response);
        this.$router.push({
          name: 'adminpanel',
          //params: { id: response.data._id }
        })
        })
        
    },

    previewImage(event) {
      this.uploadValue=0;
      this.picture=null;
      this.imageData = event.target.files[0];
    },
       onUpload(evt){
          evt.preventDefault();
      this.picture=null;
      const storageRef=firebase.storage().ref(`${Date.now()}`).put(this.imageData);
      storageRef.on(`state_changed`,snapshot=>{
        this.uploadValue = (snapshot.bytesTransferred/snapshot.totalBytes)*100;
      }, error=>{console.log(error.message)},
      ()=>{this.uploadValue=100;
        storageRef.snapshot.ref.getDownloadURL().then((url)=>{
          this.picture =url;
          this.category.icon = this.picture;
        });
      }
      );
      
    },
    

    deletecategory (categoryid){
      var r = confirm("A dëshironi të fshini kategorinë?");
      if (r == true) {
      axios.delete('http://localhost:4000/category/' + categoryid)
            .then((result) => {
              //refresh on same page
              this.$router.go({
               
              })
            })
            .catch(e => {
              this.errors.push(e)
            })
      } else {
 
        }
            
        },
        editcategory(catid){
      let caId=catid
      this.$router.push({name:'categoryedit',params:{Cid:caId}})
      this.$router.params.Cid
  }

  }
  
};


</script>

<style>
@import 'AddCategory.css';
</style>