<template>
<div class="d-flex">
  <div class="container">
      <h3 class="text-center mt-5 mb-5 admin-content text-white">Edit the Category</h3>
    <div class="col-md-12 justify-content-center mt-2 mb-3 col">
    <form @submit="onSubmit">
    <div class="form-group col-md-4 mx-auto">
      <label for="name" class="text-white admin-content">Emri</label>
    <input type="text" class="form-control" placeholder="Name" v-model="category.name">
    </div>
    <div class="form-group col-md-4 mx-auto">
       <label for="name" class="text-white admin-content">Përshkrimi</label>
      <textarea class="form-control" placeholder="Përshkruaj kategorinë" v-model="category.description"></textarea>
        </div>
        <div class="form-group col-md-4 mx-auto">
    
      <label for="image" class="text-white admin-content">Foto</label>
      <input type="file" @change="previewImage" accept="image/*" class="form-control-file text-dark" >
      <p class="text-white admin-content">Progress: {{uploadValue.toFixed()+"%"}}
      <progress id="progress"  :value="uploadValue" max="100" ></progress>  </p>
  
    <div v-if="imageData!=null">
       
      <button class="btn btn-success admin-content" @click="onUpload">Upload</button>
    </div>
  </div>
     
    
    <input type="submit" class="btn btn-success btn-block col-md-3 mx-auto admin-content" value="Send">
    
    </form>
    </div>
    </div>
</div>
</template>

<script>
/* eslint-disable */
import axios from 'axios'
import firebase from 'firebase'

export default {
  name: 'EditCategory',
  data () {
    return {
      category: {},
      imageData: null,
      picture:null,
      uploadValue: 0,
    }
  },
  created () {
    axios.get(`http://localhost:4000/category/` + this.$route.params.Cid)
    .then(response => {
      this.category = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
  },
  methods: {
    onSubmit (evt) {
        evt.preventDefault();
      axios.put(`http://localhost:4000/category/` + this.$route.params.Cid, this.category)
      .then(response => {
       
        this.$router.push({name:'addcategory'});
         
        
      })
      .catch(e => {
        this.errors.push(e)
      })
    },
previewImage(event) {
      this.uploadValue=0;
      this.picture=null;
      this.imageData = event.target.files[0];
    },
       onUpload(evt){
          evt.preventDefault();
      this.picture=null;
      const storageRef=firebase.storage().ref(`${Date.now()}`).put(this.imageData);
      storageRef.on(`state_changed`,snapshot=>{
        this.uploadValue = (snapshot.bytesTransferred/snapshot.totalBytes)*100;
      }, error=>{console.log(error.message)},
      ()=>{this.uploadValue=100;
        storageRef.snapshot.ref.getDownloadURL().then((url)=>{
          this.picture =url;
          this.category.icon = this.picture;
        });
      }
      );
       } 
  },
  
}
</script>