<template>
<div>
  <app-Panel></app-Panel>
<div class="d-flex">

  <div class="container">
    <h1 class="admin-content text-white text-center mt-5" style="font-size: 40px">Shto Trailerin</h1>
    <div class="o-hidden border-0 shadow-lg my-5 ml-5 mr-3 dashboard">
      <div class="p-0">
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-trailer-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
            
      <div v class="col-md-8">
      
     
<form>
        <div class="form-group">
          <label for="title" class="text-info">Titulli</label>
          <input type="text" class="form-control" placeholder="Shkruaj titullin" v-model="trailers.title" >
        </div>

        <div class="form-group">
    
      <label for="image" class="text-info">Trailer-Image</label>
      <input type="file" @change="previewImage" accept="image/*" class="form-control-file text-success" >
      <p class="text-success">Progress: {{uploadValue.toFixed()+"%"}}
      <progress id="progress"  :value="uploadValue" max="100" ></progress>  </p>
  
    <div v-if="imageData!=null">
       
      <button class="btn btn-info" @click="onUpload">Upload</button>
    </div>
  </div>
        
        
        <div class="form-group">
    
      <label for="image" class="text-info">VIDEO</label>
      <input type="textarea" v-model="trailers.video" class="form-control-file text-success" >
 
    </div>

    <div class="form-group">
    
      <label for="image" class="text-info">VIDEO UPLOAD</label>
      <input type="file" @change="previewImage1" class="form-control-file text-success" >
      <p class="text-success">Progress: {{uploadValue1.toFixed()+"%"}}
      <progress id="progress"  :value="uploadValue1" max="100" ></progress>  </p>
  
    <div v-if="imageData1!=null">
       
      <button class="btn btn-info" @click="onUpload1">Upload</button>
    </div>
  </div>

        
        
          <button type="submit" class="btn btn-info" @click="onSubmit">Submit</button>
  </form>

      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
  </div>
</div>
</template>
<script>
/* eslint-disable */
import { mapGetters } from "vuex";
import Panel from '../Panel/Panel.vue';
import axios from 'axios'
import firebase from "firebase";
export default {
  name: 'CreateCategory',
  data () {
    return {
       imageData: null,
      picture:null,
      uploadValue: 0,
      imageData1: null,
      picture1:null,
      uploadValue1: 0,
      trailers:{}
    }
  },

  computed:{
		
		...mapGetters({
		
			user:"user"
		}),  
        },
          components:{
            appPanel:Panel
        },
  methods: {
    onSubmit (evt) {
      evt.preventDefault();
      axios.post(`http://localhost:4000/trailers`, this.trailers)
      .then(response => {
        console.log(response);
        this.$router.push({name: '/' })
 
        })
      
    },
      

        previewImage(event) {
      this.uploadValue=0;
      this.picture=null;
      this.imageData = event.target.files[0];
    },
       onUpload(evt){
          evt.preventDefault();
      this.picture=null;
      const storageRef=firebase.storage().ref(`${Date.now()}`).put(this.imageData);
      storageRef.on(`state_changed`,snapshot=>{
        this.uploadValue = (snapshot.bytesTransferred/snapshot.totalBytes)*100;
      }, error=>{console.log(error.message)},
      ()=>{this.uploadValue=100;
        storageRef.snapshot.ref.getDownloadURL().then((url)=>{
          this.picture =url;
          this.trailers.image = this.picture;
        });
      }
      );
      
    },

    previewImage1(event) {
      this.uploadValue1=0;
      this.picture1=null;
      this.imageData1 = event.target.files[0];
    },
       onUpload1(evt){
          evt.preventDefault();
      this.picture1=null;
      const storageRef=firebase.storage().ref(`${Date.now()}`).put(this.imageData1);
      storageRef.on(`state_changed`,snapshot=>{
        this.uploadValue1 = (snapshot.bytesTransferred/snapshot.totalBytes)*100;
      }, error=>{console.log(error.message)},
      ()=>{this.uploadValue1=100;
        storageRef.snapshot.ref.getDownloadURL().then((url)=>{
          this.picture1 =url;
          this.trailers.videofile = this.picture1;
        });
      }
      );
      
    },

    
  }
}
</script>

<style>
@import 'AddTrailer.css';
</style>