.admin-content{
    font-family: 'Fira Sans', sans-serif;
}
.playstation{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.shape{
    margin: 9px;
  }
  
  .circle, .square{
    height: 70px;
    width: 70px;
  }
  
  .x, .triangle{
    height: 90px;
    width: 90px;
    line-height: 90px;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
  }
  
  .circle{
    border-radius: 50%;
    border: 10px solid rgb(230, 24, 24);
  }
  .x{
        color: rgb(29, 100, 233);
  }
  .triangle{
      color:rgb(67, 192, 18);
  }
  .square{
    border: 8px solid rgb(223, 83, 228);
  }