

.postimet-trailer{
    height: 220px;
    border-radius: 20px;
    cursor: pointer;
  }
  .postimet-trailer img{
    width: 100%;
    height:220px;
    border-radius: 20px;
    object-fit: cover;
    }

    .posts-trailer{
      margin-bottom: 8%;
    }
    .carousel-posts{
      cursor: pointer;
    }

    .trailer-title{
    font-family: 'Fira Sans', sans-serif;
    color: rgb(201, 209, 203); 
    font-size:25px;
    padding-top: 25px;
    text-align: center;
    }

    .trailerpost-title{

    font-family: 'Fira Sans', sans-serif;
    color: rgb(201, 209, 203); 
    font-size:20px;
    text-align: center;
  }
.card-trailers{
    padding-bottom: 10%;
    
    }
    @media only screen and (max-width: 768px) {
      .posts-trailer{
        margin-bottom: 20%;
      }
    }

    header {
      position: relative;
      background-color: black;
      height: 100vh;
      min-height: 25rem;
      width: 100%;
      overflow: hidden;
    }
    
    header video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: 0;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
    
    header .container {
      position: relative;
      z-index: 2;
    }
    
    header .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: black;
      opacity: 0.5;
      z-index: 1;
    }
    
    @media (pointer: coarse) and (hover: none) {
      header {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
      }
      header video {
        display: none;
      }
    }
    