<template >
<div class="news-templ">
  <header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="../../assets/video1.mp4" type="video/mp4">
  </video>
 
</header>


 

<div class="container">
    
    
    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
      <h1 class="trailer-title float-left ml-3 mt-4"> Trailers: </h1>
      <!--Controls-->
      <div class="controls-top row mb-5 mt-5 mr-1 float-right">
        <a class="btn btn-outline-dark mt-2 carousel-news-buton" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn btn-outline-dark mt-2 ml-1 carousel-news-buton-right" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
       </div>
      <!--/.Controls-->

      <!--Indicators-->
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox">

        <!--First slide-->
      <div class="carousel-item active">

      <div class="row">
        <div class="col-md-4" v-for="trailer in trailerslider" v-bind:key="trailer._id">
          
          <a @click="goTodetail(trailer._id)"> 
          <div class="card mb-2">  
            <div class="postimet-trailer">
            <img class="picture img-fluid" :src="trailer.image" alt="Flowers" style="width: 100%"> 
             
            </div>
            <div class="card-body text-center">
            <div class="separator">
              <a class="btn btn-danger mb-2 text-light ml-2 mr-2 ">VIDEOS</a>
            </div>        
                
              <h5 class="card-title text-center trailerpost-title">{{trailer.title}}</h5>
            
            </div>
            
          </div>
          </a>
        </div>
      </div>
      </div>
        <!--/.First slide-->

        <!--Second slide-->
      <div class="carousel-item">
        <div class="row">
        <div class="col-md-4" v-for="trailer in trailerslider1" v-bind:key="trailer._id">
          <a @click="goTodetail(trailer._id)">
          <div class="card mb-2 carousel-posts">
            
            <div class="postimet-trailer">
            <img class="picture img-fluid" :src="trailer.image" alt="Flowers" style="width: 100%"> 
             
            </div>
            <div class="card-body text-center">
            <div class="separator">
              <a class="btn btn-danger mb-2 text-light ml-2 mr-2 ">VIDEOS</a>
            </div>              
              <h5 class="card-title text-center trailerpost-title">{{trailer.title}}</h5>
            </div>
          </div>
          </a>
        </div>
      </div>
  </div>
     <!--/.Second slide-->
      </div>
      <!--/.Slides-->
    </div>
    </div>
    <!--/.Carousel Wrapper-->
    
    <div class="container">
    <div class="row mt-3 pb-5">
  <div class="col-sm-4 posts-trailer" v-for="news in trailers" v-bind:key="news._id">
     <a @click="goTodetail(news._id)">
      <div class="postimet-trailer mb-5">
    <img :src="news.image" class="img-fluid" alt="...">
    <div class="separator mt-3">
          <a class="btn btn-danger mb-2 text-light ml-2 mr-2 ">VIDEOS</a>
          
    </div>
    <h5 class="card-title text-center trailerpost-title">{{news.title}}</h5>
      </div>
     </a>
  </div>
  </div>
</div>
  </div>
</template>

<script>
import axios from 'axios';

  export default {
    data () {
      return {
        trailers: {},
        trailerslider: {},
        trailerslider1: {},
      }
      
    },
    created(){
        axios.get(`http://localhost:4000/trailers` )
    .then(response => {
        this.trailerslider=response.data.sort(function() {
  return .5 - Math.random();
}).slice(0,3)
        this.trailerslider1=response.data.sort(function() {
  return .5 - Math.random();
}).slice(0,3)
        this.trailers = response.data.slice(-6).reverse()
    })
    .catch(e => {
        this.error.push(e)
    })
  

    },
     methods:{
      goTodetail(trailerId) {
    let tId=trailerId
    
    this.$router.push({name:'watchtrailer',params:{Tid:tId}}
    
    
    )
     
      window.scrollTo(0, 0);

      }
  }, 
    
  }
</script>

<style>
@import 'Trailers.css';
</style>