<template>
<div >
  <app-Panel></app-Panel>
<div class="d-flex ">
  <div class="container">
    <h1 class="admin-content text-white text-center mt-5" style="font-size: 40px">Add Game</h1>
    <div class="o-hidden border-0 shadow-lg my-5 ml-3 mr-5 dashboard">
      <div class="p-0">
        <div class="row">
          <div class="col-lg-4 d-none d-lg-block bg-Game-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
            
      <div v class="col-md-8">
      
     
<form>
        <div class="form-group">
          <label for="title" class="text-info">Name</label>
          <input type="text" class="form-control" v-model="games.name" >
        </div>

        <div class="form-group">
    
      <label for="image" class="text-info">Game Image</label>
      <input type="file" @change="previewImage" accept="image/*" class="form-control-file text-success" >
      <p class="text-success">Progress: {{uploadValue.toFixed()+"%"}}
      <progress id="progress"  :value="uploadValue" max="100" ></progress>  </p>
  
    <div v-if="imageData!=null">

      
       
      <button class="btn btn-info" @click="onUpload">Upload</button>

    </div>
    
  </div>
  
  <div class="form-group">
          <label for="Category" class="text-info">Category</label>
          <select
                    id="category"
                    name="category"
                    class="form-control"
                    v-model="games.category"
                  >
                    <option v-for="item in category" :key="item._id" :value="item._id">{{item.name}}</option>
                  </select>
        </div>
        
        
        <div class="form-group">
          <label for="description" class="text-info">Description</label>
          <textarea class="form-control" v-model="games.description" ></textarea>
        </div>


         <div class="form-group">
          <label for="title" class="text-info">Year</label>
          <input type="text" class="form-control" v-model="games.year" >
        </div>

        <div class="form-group">
          <label for="title" class="text-info">Company</label>
          <input type="text" class="form-control" v-model="games.company" >
        </div>
         <div class="form-group">
          <label for="title" class="text-info">Age</label>
          <input type="text" class="form-control" v-model="games.age" >
        </div>

        
        
          <button type="submit" class="btn btn-info" @click="onSubmit">Submit</button>
  </form>

      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
  </div>
</div>
</template>
<script>
/* eslint-disable */
import Panel from '../Panel/Panel.vue';
import axios from 'axios'
import firebase from 'firebase'
export default {
  name: 'AddGame',
  data () {
    return {
       imageData: null,
      picture:null,
      uploadValue: 0,
      games:{},
      category:{}
    }
  },

          components:{
            appPanel:Panel
        },

         created(){
            axios.get(`http://localhost:4000/category`)
    .then(response => {
      this.category = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
         },
  methods: {
    onSubmit (evt) {
      evt.preventDefault();
      axios.post(`http://localhost:4000/games`, this.games)
      .then(response => {
        console.log(response);
        this.$router.push({name: 'adminpanel' })
 
        })
      
    },

   
      

        previewImage(event) {
      this.uploadValue=0;
      this.picture=null;
      this.imageData = event.target.files[0];
    },
       onUpload(evt){
          evt.preventDefault();
      this.picture=null;
      const storageRef=firebase.storage().ref(`${Date.now()}`).put(this.imageData);
      storageRef.on(`state_changed`,snapshot=>{
        this.uploadValue = (snapshot.bytesTransferred/snapshot.totalBytes)*100;
      }, error=>{console.log(error.message)},
      ()=>{this.uploadValue=100;
        storageRef.snapshot.ref.getDownloadURL().then((url)=>{
          this.picture =url;
          this.games.image = this.picture;
        });
      }
      );
      
    },

    
  }
}
</script>

<style>
@import 'AddGame.css';
</style>