<template>
<div class="container features">
            <div >
          <div class="card mb-3 gamedetails" style="max-width: 1000px;">
  <div class="row no-gutters" v-for="(game,index) in games" :key="index">
    <div class="col-md-4" >
      <img :src="game.image" class="card-img">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title text-white">{{game.name}}</h5>
        <p class="card-text text-white">{{game.description}}</p>
        <div v-for="(category,index) in category" :key="index">
            <p v-if="category._id == game.category" class="text-white">
                {{category.name}}
            </p>
        </div>
        <p class="card-text text-white">{{game.year}}</p>
        <p class="card-text text-white">{{game.company}}</p>
        <p class="card-text text-white">{{game.age}}</p>
      </div>
    </div>
  </div>
</div>
            </div>
        
 
    </div>
</template>
<script>
import axios from 'axios'

export default {
    name: 'Get',
   data () {

    return {
       
        games:{},
        category:{}
 
       }},
        created() {
    axios.get(`http://localhost:4000/games/`)
    .then(response => {
      this.games = response.data.filter(x => x._id == this.$route.params.Gid)          
    })
    .catch(e => {
      this.errors.push(e)
    })

    axios.get(`http://localhost:4000/category/`)
    .then(response => {
      this.category = response.data         
    })
    .catch(e => {
      this.errors.push(e)
    })
     },
     
}
</script>

<style>
@import 'GameDetails.css';
</style>