.gamedetails{
    padding-top: 100px;
    margin-left: 200px;
}

@media only screen and (max-width: 768px) {
   
    
    .gamedetails{
        padding: 0;
        margin: 0;
        padding-top: 100px;
    }

}