.prov{
  background-color: #0b0c11;
}
#separator{
    height:2px;
    background: linear-gradient(to right,rgb(0, 0, 0), rgb(201, 10, 10) , rgb(240, 255, 0),rgb(128, 10, 99),rgb(81, 140, 26), rgb(0, 0, 0));
    margin-top: 2%;
    width: 100%;
}

.postimet{
  height: 300px;
  cursor: pointer;
}
.slider-posts{
  height: 230px;
  cursor: pointer; 
}
.slider-posts img{
  height: 230px;
  object-fit: cover;
  object-position: 0 0;

}
.postimet img{
    display:block;
  height:300px;
  width:auto;
  object-fit: cover;
  object-position: 0 0;
 
  }

  .banner-picture{
   
    width: 100%;
    height: 500px;
    filter: opacity(50%);
    object-fit: cover;
}

  .fonti {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
  }

  .fonti1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 25px;
  }

  .slider-title{
    font-family: 'Fira Sans', sans-serif;
    font-size: 17px;
    cursor: pointer;

  }

  .slider-title a:hover{
    text-decoration: none;
    color:rgb(123, 176, 149);
  }

  .title{
      position: absolute;
      z-index: 1;
      top: 60%;
      left: 10%;
      color: rgb(138, 136, 136);  
      cursor: pointer; 
  }

  .title1{
    position: absolute;
    z-index: 1;
    top: 60%;
    left: 7%;
    color: rgb(138, 136, 136);   
}
.choose{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: rgb(138, 136, 136);
}

.choose:hover{
  color: rgb(255, 255, 255)
}

.choose-platform{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: rgb(138, 136, 136);
}


.category-name{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: rgb(138, 136, 136);
}

.category-name img{
    padding-right: 5px;
}

  .news{
    position:relative;
    display:inline-block;
    cursor: pointer; 
}

.news:after{
    content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background: linear-gradient(to bottom,rgba(0,0,0,0.1) 10%, rgba(0,0,0,0.6) 50%,rgba(0,0,0,1) 100%);
  border-radius: 20px;
}

.news1{
  position:relative;
  display:inline-block;
}

.news1:after{
  content:'';
position:absolute;
left:0; top:0;
width:100%; height:100%;
display:inline-block;
background: linear-gradient(to bottom,rgba(0,0,0,0.1) 10%, rgba(0,0,0,0.6) 50%,rgba(0,0,0,1) 100%);
}



.picture{
    border-radius: 20px;
}

.card{
    background: transparent;
    border:none;
}


.ml3{
  width: 300px;
  height: 100px;
 
}

.letter{
  width: 300px;
  height: 100px;
}

.animate-group .animate__fadeInLeft{
  /* referring directly to the animation's @keyframe declaration */
   animation-duration: 3s; /* don't forget to set a duration! */
 }