<template>

<div class="prov">

<div>
 <div class="banneraboutus">
  <img src="../../assets/picture4.jpg" alt="Snow" class="banner-picture">
  <div class="centered">
  <svg class="ml3"
  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">       
  <image class="letter" href="../../assets/logo2.png"/>
</svg>
  </div>
 
</div>  
</div>
<div class="container mt-4">
    <div id="separator"></div>
    <div class="d-flex bd-highlight">
      <div class="p-2 flex-shrink-1 bd-highlight mt-3 choose">
        <a @click="platform = !platform" class="ml-5 btn btn-outline-warning choose-button"> Choose Your Platform: </a></div>
  <div class="p-2 w-80 bd-highlight mt-4">
    <transition name="platform" enter-active-class="animate__animated animate__bounceInLeft" leave-active-class="animate__animated animate__bounceInRight">
    
    <div class="display-inline-block" v-if="platform">
    <span v-for="category in category" v-bind:key="category._id" class="ml-5 category-name"><router-link class="choose-platform" :to="{name: 'categorypage',params:{Cid:category._id}}">{{category.name}}</router-link></span>
    </div>
     </transition></div>
  
</div>

<div class="card-group animate-group">
  <div class="card mb-4 mt-4 postimet m-2 animate__animated animate__fadeInLeft" v-for="news in news" v-bind:key="news._id">
    <a @click="goTodetail(news._id)">
    <div class="news">
     
    <picture>
       
        <source class="picture" media="(min-width:1000px)" :srcset="news.bigimage">
        <source class="picture" media="(min-width:768px)" :srcset="news.mediumimage" >
        <img class="picture" :src="news.smallimage" alt="Flowers" style="width: 100%">
         
    </picture>
    <h1 class="title"><span class="fonti">{{news.title}}</span></h1>
      
    </div>
    </a>

    
    
  </div>
</div>

<span class="choose ml-5"> CSGO LIVE: </span>

<div class="mb-4 mt-3">
<iframe src="https://player.twitch.tv/?channel=esl_csgo&parent=localhost&autoplay=false" frameborder="0" allowfullscreen="true" scrolling="no" height="500" width="100%"></iframe>
</div>


<div id="multi-item-example" class="carousel slide carousel-multi-item mb-5" data-ride="carousel">
<span class="choose ml-5"> Gaming News: </span>
  <!--Controls-->
  <div class="controls-top float-right">
    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
    <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
  </div>
  <!--/.Controls-->

 
  <!--/.Indicators-->
  

  <!--Slides-->
  <div class="carousel-inner mt-3" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">

      <div class="row">

       

        <div class="col-md-3" v-for="news in news2" v-bind:key="news._id">
          <a @click="goTodetail(news._id)">
          <div class="card mb-2 slider-posts">
            <picture>
        <source class="picture" media="(min-width:1000px)" :srcset="news.bigimage">
        <source class="picture" media="(min-width:768px)" :srcset="news.mediumimage" >
        <img class="picture" :src="news.smallimage" alt="Flowers" style="width: 100%"> 
    </picture>

    
          
          </div>
          </a>
          <h6 class="text-secondary text-center mt-1 slider-title"><a @click="goTodetail(news._id)">{{news.title}}</a></h6>
        </div>
      </div>
      

    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item ">

      <div class="row ">
         <div class="col-md-3 " v-for="news in news3" v-bind:key="news._id">
           <a @click="goTodetail(news._id)">
          <div class="card mb-2 slider-posts">
            <picture>
        <source class="picture" media="(min-width:1000px)" :srcset="news.bigimage">
        <source class="picture" media="(min-width:768px)" :srcset="news.mediumimage" >
        <img class="picture" :src="news.smallimage" alt="Flowers" style="width: 100%"> 
    </picture>

     
          
          </div>
           </a>
          <h6 class="text-secondary text-center mt-1 slider-title"><a @click="goTodetail(news._id)">{{news.title}}</a></h6>
        </div>

      </div>

    </div>
    <!--/.Second slide-->

   

  </div>
  </div>

<span class="choose ml-5"> News: </span>
<div class="row mt-3">
  <div class="col-sm-6 mb-4 postimet" v-for="news in news1" v-bind:key="news._id">
    <a @click="goTodetail(news._id)">
      <div class="news">
    <picture>
        <source class="picture" media="(min-width:1000px)" :srcset="news.bigimage">
        <source class="picture" media="(min-width:768px)" :srcset="news.mediumimage" >
        <img class="picture" :src="news.smallimage" alt="Flowers" style="width: 100%"> 
    </picture>
    <h1 class="title1"><span class="fonti1"> {{news.title}}</span></h1>
      </div>
    </a>

  </div>
</div>
<div id="separator"></div>
<br>
</div>

</div>
</template>


<script>
import axios from 'axios';

  export default {
    data () {
      return {
        news: {},
        category: {},
        newsfields: {},
        platform: false
      }
      
    },
    created(){
        axios.get(`http://localhost:4000/news` )
    .then(response => {
        this.news = response.data.slice(-4).reverse()
        this.news1 = response.data.slice(-8, -4).reverse()
        this.news2 = response.data.sort(function() {
  return .5 - Math.random();
}).slice(0,4)
        this.news3 = response.data.sort(function() {
  return .5 - Math.random();
}).slice(0,4)
    })
    .catch(e => {
        this.error.push(e)
    })

    axios.get(`http://localhost:4000/category` )
    .then(response => {
        this.category = response.data;
    })
    .catch(e => {
        this.error.push(e)
    })
 
    },
    mounted(){
      this.$anime.timeline()
  .add({
    targets: '.ml3 .letter',
    opacity: [0,1],
    easing: "easeInOutQuad",
    duration: 4500,
  })
    },

    methods:{
      goTodetail(newsId) {
    let nId=newsId
    
    this.$router.push({name:'readnews',params:{Nid:nId}}
    
    
    )
     
      window.scrollTo(0, 0);

      },
    
  }, 
    
  }


</script>


<style>
@import 'Home.css';
</style>