<template>
<div>
 <div class="banneraboutus">
  <img src="https://cdn.shopify.com/s/files/1/0093/4300/8827/files/ABOUT_PRODUCTSFORGAMERS_5.jpg?v=1546140167" alt="Snow" class="w-100">

  
</div>

<section class="container">

    <!--Section heading-->
    <h2 class="font-weight-bold text-center my-4 text-white">Contact us</h2>
    <!--Section description-->
    <p class="text-center mx-auto mb-5 text-white">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form>

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="mb-0">
                            <input type="text" class="form-control" v-model="contact.name">
                            <label for="name" class="text-white">Your name</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="mb-0">
                            <input type="text" class="form-control" v-model="contact.email">
                            <label for="email" class="text-white">Your email</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-0">
                            <input type="text" class="form-control" v-model="contact.subject">
                            <label for="subject" class="text-white">Subject</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div>
                            <textarea type="text" id="message" name="message" rows="2" class="form-control" v-model="contact.message"></textarea>
                            <label for="message" class="text-white">Your message</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-right text-white">
                <a class="btn btn-primary" @click="onSubmit">Send</a>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="mb-0">
                <li><i class="fa fa-map-marker text-white"></i>
                    <p class="text-white">Ferizaj, Kosovo, Albania /FKSH</p>
                </li>

                <li><i class="fa fa-phone mt-4 text-white"></i>
                    <p class="text-white">+ 383 44 111 222</p>
                </li>

                <li><i class="fa fa-envelope mt-4 text-white"></i>
                    <p class="text-white">contact@gameon.rks</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
</div>
</template>
<script>
import axios from 'axios'
export default {
  name: 'CreateCategory',
  data () {
    return {
      contact:{},
    }
  },

  methods: {
    onSubmit (evt) {
      evt.preventDefault();
      axios.post(`http://localhost:4000/contact`, this.contact)
      .then(response => {
        console.log(response);
        this.$router.push({name: '/' })
 
        })
      
    },

  }
}
</script>
<style>
@import 'Contact.css';
</style>