.header {
    width: 85%;
    height: 60px;
    position: fixed;
    z-index: 1;
  }
  
  .headroom {
      will-change: transform;
      transition: transform 200ms linear;
      z-index: 100;
  }
  .headroom--pinned {
      transform: translateY(0%);
  }
  .headroom--unpinned {
      transform: translateY(-100%);
  }

  .dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-right: 5%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  @media only screen and (max-width: 768px) {
   
    
   .header{
       width: 100%;
   }
   .dropdown {
    
    margin-right: 5%;
  }
  .dropdown-content{
      right: 20px;
  }
  .header img{
      margin-left: 20px;
  }
  }

  #dropdownMenuLink{
    width: 180px;
    text-align: left;
    padding: 23px 30px 23px 30px;
  }

