<template>
    <div class="container">
  <div :class="{'headroom--unpinned': scrolled}"  v-on="handleScroll" class="headroom header">
 <img width="100px" height="30px" class="mt-4 mb-4"  src="../../assets/logo-white.png"> 
<div class="dropdown float-right">
    
  <button class="dropbtn"><i class="fa fa-caret-down text-white" style="font-size: 20px;"></i></button>
  <div class="dropdown-content">
      <router-link  class="dropdown-item" to="/"><a>Home</a></router-link>
      <router-link  class="dropdown-item" to="/news"><a>News</a></router-link>
      <router-link  class="dropdown-item" to="/trailers"><a>Trailers</a></router-link>
      <router-link  class="dropdown-item" to="/games"><a>Games</a></router-link>
      
    <div class="dropdown show">
  <a class="btn btn-transparent dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Platforms
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <div v-for="categories in category" v-bind:key="categories._id">
    <button class="dropdown-item" @click=" categoryPages(categories._id)">{{ categories.name }}</button>
    </div>
    
  </div>
</div>
   

  </div>

  
</div>

</div>
</div>
</template>

<script>
import axios from 'axios'
  export default {
    data () {
      return {
      limitPosition: 300,
      scrolled: false,
      lastPosition: 0,
      category: {}
      }
      
    },
    created(){
window.addEventListener("scroll", this.handleScroll);
    axios.get(`http://localhost:4000/category` )
    .then(response => {
        this.category = response.data;
    })
    .catch(e => {
        this.error.push(e)
    })
    },
    methods: {
    handleScroll() {
      if (this.lastPosition < window.scrollY && this.limitPosition < window.scrollY) {
        this.scrolled = true;
        // move up!
      } 
      
      if (this.lastPosition > window.scrollY) {
        this.scrolled = false;
        // move down
      }
      
      this.lastPosition = window.scrollY;
      // this.scrolled = window.scrollY > 250;
    },
    categoryPages(categoryId) {
    let catId=categoryId
    this.$router.push({name:'categorypage',params:{Cid:catId}})
      window.scrollTo(0, 0);

  },
  },
  
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  }

    
    
  }
</script>


<style>
@import 'Header.css';
</style>