<template>
<div>
  <app-Panel></app-Panel>
<div class="d-flex">

  <div class="container">
    <h1 class="fonti text-center text-light mt-5" style="font-size: 40px">Add News</h1>
    <div class="o-hidden border-0 shadow-lg my-5 ml-5 p-0 dashboard">
      <div class="p-0">
        <div class="row">
          <div class="col-lg-6 d-none d-lg-block bg-dashboard-image"></div>
          <div class="col-lg-6">
            <div class="p-5">
            
      <div v class="col-md-8">
      
     
<form>
        <div class="form-group">
          <label for="title" class="text-info">Title</label>
          <input type="text" class="form-control" placeholder="Shkruaj titullin" v-model="news.title" >
        </div>
        
        
        <div class="form-group">
    
      <label for="image" class="text-info">Big Image</label>
      <input type="file" @change="previewImage" accept="image/*" class="form-control-file text-success" >
      <p class="text-success">Progress: {{uploadValue.toFixed()+"%"}}
      <progress id="progress"  :value="uploadValue" max="100" ></progress>  </p>
  
    <div v-if="imageData!=null">
       
      <button class="btn btn-info" @click="onUpload">Upload</button>
    </div>
  </div>
         <div class="form-group">
    
      <label for="image" class="text-info">Medium Image</label>
      <input type="file" @change="previewImage1" class="form-control-file text-success" >
      <p class="text-success">Progress: {{uploadValue1.toFixed()+"%"}}
      <progress id="progress"  :value="uploadValue1" max="100" ></progress>  </p>
  
    <div v-if="imageData1!=null">
       
      <button class="btn btn-info" @click="onUpload1">Upload</button>
    </div>
  </div>
        <div class="form-group">
    
      <label for="image" class="text-info">Small Image</label>
      <input type="file" @change="previewImage2" accept="image/*" class="form-control-file text-success" >
      <p class="text-success">Progress: {{uploadValue2.toFixed()+"%"}}
      <progress id="progress"  :value="uploadValue2" max="100" ></progress>  </p>
  
    <div v-if="imageData2!=null">
       
      <button class="btn btn-info" @click="onUpload2">Upload</button>
    </div>
  </div>
  
        <div class="form-group">
          <label for="Category" class="text-info">Category</label>
          <select
                    id="category"
                    name="category"
                    class="form-control"
                    v-model="news.category"
                  >
                    <option v-for="item in categoryfields" :key="item._id" :value="item._id">{{item.name}}</option>
                  </select>
        </div>
        <div class="form-group">
          <label for="title" class="text-info">Content</label>
          <textarea class="form-control" placeholder="Shkruaj përmbajtjen" v-model="news.content" ></textarea>
        </div>
        
          <button type="submit" class="btn btn-info" @click="onSubmit">Submit</button>
  </form>

      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
  </div>
</div>
</div>
</template>
<script>
/* eslint-disable */
import { mapGetters } from "vuex";
import axios from 'axios'
import firebase from "firebase";
import Panel from '../Panel/Panel.vue';
export default {
  name: 'CreateCategory',
  data () {
    return {
       imageData: null,
      picture:null,
      uploadValue: 0,
      imageData1: null,
      picture1:null,
      uploadValue1: 0,
      imageData2: null,
      picture2:null,
      uploadValue2: 0,
      news:{},
      categoryfields:{}
    }
  },created () {
    

    axios.get(`http://localhost:4000/category`)
    .then(response => {
      this.categoryfields = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
  },

  computed:{
		
		...mapGetters({
		
			user:"user"
		}),  
        },
         components:{
            appPanel:Panel
        },
  methods: {
    onSubmit (evt) {
      evt.preventDefault();
      axios.post(`http://localhost:4000/news`, this.news)
      .then(response => {
        console.log(response);
        this.$router.push({name: '/' })
 
        })
      
    },
        signOut() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.replace({
            name: "admin"
          });
        });
    },

        previewImage(event) {
      this.uploadValue=0;
      this.picture=null;
      this.imageData = event.target.files[0];
    },
       onUpload(evt){
          evt.preventDefault();
      this.picture=null;
      const storageRef=firebase.storage().ref(`${Date.now()}`).put(this.imageData);
      storageRef.on(`state_changed`,snapshot=>{
        this.uploadValue = (snapshot.bytesTransferred/snapshot.totalBytes)*100;
      }, error=>{console.log(error.message)},
      ()=>{this.uploadValue=100;
        storageRef.snapshot.ref.getDownloadURL().then((url)=>{
          this.picture =url;
          this.news.bigimage = this.picture;
        });
      }
      );
      
    },

    previewImage1(event) {
      this.uploadValue1=0;
      this.picture1=null;
      this.imageData1 = event.target.files[0];
    },
       onUpload1(evt){
          evt.preventDefault();
      this.picture1=null;
      const storageRef=firebase.storage().ref(`${Date.now()}`).put(this.imageData1);
      storageRef.on(`state_changed`,snapshot=>{
        this.uploadValue1 = (snapshot.bytesTransferred/snapshot.totalBytes)*100;
      }, error=>{console.log(error.message)},
      ()=>{this.uploadValue1=100;
        storageRef.snapshot.ref.getDownloadURL().then((url)=>{
          this.picture1 =url;
          this.news.mediumimage = this.picture1;
        });
      }
      );
      
    },
    previewImage2(event) {
      this.uploadValue2=0;
      this.picture2=null;
      this.imageData2 = event.target.files[0];
    },
       onUpload2(evt){
          evt.preventDefault();
      this.picture2=null;
      const storageRef=firebase.storage().ref(`${Date.now()}`).put(this.imageData2);
      storageRef.on(`state_changed`,snapshot=>{
        this.uploadValue2 = (snapshot.bytesTransferred/snapshot.totalBytes)*100;
      }, error=>{console.log(error.message)},
      ()=>{this.uploadValue2=100;
        storageRef.snapshot.ref.getDownloadURL().then((url)=>{
          this.picture2 =url;
          this.news.smallimage = this.picture2;
        });
      }
      );
      
    }

  }
}
</script>
<style>
@import 'Dashboard.css';
</style>