ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.card-title1{
    border-bottom: 1px solid red;
}
.futer-card{
    background-color: transparent;
}
.futer-card ul li{
    list-style-type:  none;
}
.fa {
    padding: 7px;
    font-size: 15px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin-right: 7px;
  }
  
  .fa:hover {
      opacity: 0.7;
      color :rgb(23, 173, 223);
      text-decoration: none;
  }
.fa-facebook {
    background: transparent;
    color: white;
    
  }
  
  .fa-instagram {   
    background: transparent;
    color: white;
  }
  .fa-twitter {
    
    background: transparent;
    color: white;
  }
  .fa-google {
    
    background: transparent;
    color: white;
  }
  .fa-twitch {   
    background: transparent;
    color: white;
  }
  .fa-youtube {   
    background: transparent;
    color: white;
  }

  .footer-logo{
    margin-left: 15%;
  }
  .footer-center{
    margin-left: 30%;
  }


  @media only screen and (max-width: 768px) {
   
    
    .footer-logo{
      margin: 0;
    }
    .footer-center{
      margin: 0;
    }
    .footer-right{
      margin: 0;
    }
  }

  
  .copyright{
    font-size: 20px;
    
  }
  
  .games:after{
    content: ""; 
    display: block; 
    margin: 0 auto;
    width: 10%;
    padding-top: 5px; 
    border-bottom: 1.5px solid rgb(235, 52, 52); 
  }

  .games1:after{
    content: ""; 
    display: block; 
    margin: 0 auto;
    width: 7.5%;
    padding-top: 5px; 
    border-bottom: 1.5px solid rgb(55, 166, 58); 
  }
  .futer-link:hover{
    text-decoration: underline;
  }