<template>
<footer>
        <div class="container">
            <div class="row ">
                <div class="col-md-4 text-center text-md-left">
                    
                    <div class="py-0 footer-logo">
                        <img width="250px" height="80px" class="mt-4 mb-4"  src="../../assets/logo-white.png"> 

                        <div class="ml-3">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-twitch"></a>
        <a href="#" class="fa fa-youtube"></a>
        </div>
                    </div>
                </div>
                
                <div class="col-md-4 text-white text-md-left ">
                    <div class="my-4 mt-2 footer-center">
                        <h5 class="card-title text-center text-danger" ><span class="games"> Games </span></h5>
                        
                        <ul class="text-center">
                            <li>
                            <router-link  class="card-link text-secondary futer-link" to="/"><a>Home</a></router-link>
                            </li>
                            <li>
                            <router-link  class="card-link text-secondary futer-link" to="/aboutus"><a>About</a></router-link>
                            </li>
                            <li>
                            <router-link  class="card-link text-secondary futer-link" to="/contact"><a>Contact</a></router-link>
                            </li>        
                        </ul>
    

                        <div class="text-center mt-3">
                            <p><i class="fa fa-envelope  mx-2 "></i><a href="mailto:support@gameon.rks" class="text-secondary">support@gameon.rks</a></p>
                        </div>  
                    </div>  
                </div>
                
               <div class="col-md-4 text-white text-md-left ">
                    <div class="mt-2 my-4 footer-right">
                        <h5 class="card-title text-center text-success"><span class="games1"> Games </span></h5>
                        <ul class="text-center">
                            <li>
                           <router-link  class="card-link text-secondary futer-link" to="/news"><a>News</a></router-link>
                            
                            </li>
                            <li>
                            <router-link  class="card-link text-secondary futer-link" to="/trailers"><a>Trailers</a></router-link>
                            
                            </li>
                            <li>
                            <router-link  class="card-link text-secondary futer-link" to="/games"><a>Games</a></router-link>
                            
                            </li>        
                        </ul>
                </div>
                
            
            </div>  
            </div>
            <hr class="bg-secondary">
        </div>
            
            <h6 class="text-center fonti m-0 p-0" style="font-size: 15px; color: white"> Copyright 2020 & GameON </h6>
		</footer>

</template>

<script>


</script>

<style>
@import 'Footer.css';
</style>