body{
  background-color: #0b0c11;
}

.page-enter-active, .page-leave-active {
    transition: opacity 1s, transform 1s;
  }
  .page-enter, .page-leave-to {
    opacity: 0;
    transform: translateX(-30%);
  }
  
  footer{
    background-color: #0b0c11;
    padding: 0;
  }

.fonti{
  font-family:"Yannone Kaffesatz" ;
}

.Pactive{
  border-right: 8px solid #558f8d;
}
.Pactive i{
    color:#558f8d;
}
.Pactive span{
  color: #558f8d;
}
#li-home{
  margin-top: 5px;
  list-style-type: none;
}

