




<template>
<div class="readnews">
  

 <div v-for="(trailer,index) in trailers" v-bind:key="index" >
 
          <div class="container">
         
           <h1 class="mb-5 title-trailer text-center">{{trailer.title}}</h1>
           <div v-if="trailer.video != null">
           <iframe width="100%" height="600"
            :src="trailer.video" allowfullscreen>
            </iframe>
           </div>
       <div v-else-if="trailer.videofile != null">
        <vue-plyr>
  <video >
    <source :src="trailer.videofile" type="video/mp4">
    
  </video>
</vue-plyr>
       </div>
         </div>

      </div>
      <div class="container mt-5 mb-3">
      <span class="choose ml-3 "> Latest Trailers: </span>
      </div>
      <div class="container postimet-e-fundit">
  

   <div v-for="(trailer,index) in trailers1" v-bind:key="index" class="seksion">
         <div class="latestposts">
           <a @click="goTodetail(trailer._id)">
         <img :src="trailer.image" class="img-fluid latestpost-image" >
           </a>
        <a @click.prevent="goTodetail(trailer.id)" class="latest-titles">{{trailer.title}}</a>
         </div>    
      </div>
      </div>


         
</div>
</template>

<script>

import axios from 'axios';

export default {
  
    name: 'Get',
   data () {

    return {
        trailers:{},
        trailers1:{},
        categoryfields:{},
       
     
       }},
        created() {
           axios.get(`http://localhost:4000/trailers`)
    .then(response => {
      this.trailers = response.data.filter(x => x._id == this.$route.params.Tid)
      this.trailers1 = response.data.slice(-3)
    })
    .catch(e => {
      this.errors.push(e)
    })


        },
      methods: {
    goTodetail(trailerId) {
    let tId=trailerId
    
    this.$router.push({name:'watchtrailer',params:{Tid:tId}}
    
    
    )
      
      window.scrollTo(0, 0);
  },  
            },

    

}


</script>

<style>
@import 'WatchTrailer.css';
</style>