.banner-news{
    width: 100%;
    border-radius: 0px 0px 200px 200px;
    opacity: 1;
    filter: brightness(1.1)
}
.banner-h3{
    position: absolute;
    top:50%;
    left:10%;
    color:white;
    font-weight: 600;
}
.newspost-title{
font-family: 'Fira Sans', sans-serif;
    color: rgb(201, 209, 203); 
    font-size:15px;
    font-weight: 500;
}
.banner-btn{
    position: absolute;
    top:60%;
    left:10%;
    color:white;
    font-weight: 600;
}
.img-middle{
    opacity: 0.8;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    width: 80%;
    position: relative;
    z-index: -1;
}
.img-middle-ps{
    margin-top:-120px;
    filter: brightness(1.1);
    z-index: 5;
}
.carousel-news{
    margin-top: -220px;
}
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
  }
  .separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid rgb(148, 148, 148);
  }
.articles-but{
    border-radius: 50px;
    padding-right: 20px;
}
.articles-but2{
    padding:10px 13px 10px 15px;
    border-radius: 50px;
}
.trailer-video{
    width: 100%;
}
.canvasiDIV{
    position: relative;
}
#myCanvas{
    position: absolute;
    right: 16%;
    padding-top: 2%;
    transition: width 2s, height 2s, transform 2s;
}
#myCanvas:hover{
    width: 100px;
    height: 100px;
    transform: rotate(360deg);   
}
#canvas{
    position: absolute;
    right: 2%;
    padding-top: 7%;
    transition: width 2s, height 2s, transform 2s;
} 
#canvas:hover{
    width: 130px;
    height: 170px;
    transform: rotate(360deg);   
}
#canvasPlus{
    margin-left:100px;
    transition: width 3s, height 5s, transform 1s;
}
#canvasPlus:hover{
    width: 130px;
    height: 100px;
    transform: rotate(360deg);  
}
#canvasPlusSmall{
    position: absolute;
    left:14%;
    padding-top:40px;
    transition: width 3s, height 5s, transform 1s;
}
#canvasPlusSmall:hover{
    width: 100px;
    height: 100px;
    transform: rotate(260deg);  
}
#CanvasCircleUp{
    position: absolute;
    top: 20%;
}
#CanvasCircleRight{
    float:right;
}
#CanvasCircleRightDown{
    position: absolute;
    right:0;
    top:15%;
}
#svg-polygon{
    float: right;
    margin-right: 90px;
    transition: width 3s, height 5s, transform 1s;
}
#svg-polygon:hover{
    width: 100px;
    height: 100px;
    transform: rotate(260deg);
}
@media only screen and (max-width: 768px) {
    .banner-news {
      border-radius: 0px 0px 50px 50px;
    }
    .banner-h3{
        position: absolute;
        top:31%;
        left:5%;
        font-size: 15px;
        color:white;
        font-weight: 600;
    }
    .banner-btn{
        position: absolute;
        top:37%;
        left:10%;
        padding: 5px;
        color:white;
        font-size:10px;
        font-weight: 600;
    }
    .banner-btn i{
        font-size:10px;
        padding-right: 0;
    }
    .carousel-news{
        margin-top:0px;
    }
    .carousel-news-buton{
        padding: 0px;
        margin-left:50px;
    }
    .carousel-news-buton-right{
        padding: 0px;
        margin:0px;
    }
    .carousel-h5{
        font-size:13px;
        margin-top:10px;
    }
    .middle-left-content{
        display: none;
    }
  }
.middle-content{
    position: relative;
}
  .hr-middle{
      position: absolute;
      bottom: 10%;
      width: 45%;
      left: 0;
  }
  .buton-middle{
      position: absolute;
      right: 35%;
      bottom:10%;
      border-radius: 50px;
  }

  .bounce-enter-active {
      animation: bounce-in .5s;
  }
  .bounce-leave-active{
      animation: bounce-in .5s reverse;
  }
  @keyframes bounce-in {
      0% {
          transform: scale(0);
      }
      50% {
          transform: scale(1.5);
      }
      100% {
          transform: scale(1);
      }
  }

  div.b {
    white-space: wrap; 
    width: 90%;
    height: 240px;
    overflow: hidden;
    text-overflow: ellipsis; 
  }

  div.c {
    white-space: wrap; 
    width: 90%;
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis; 
  }