<template >
<div class="news-templ">
    <img src="../../assets/banner-news1.jpg" class="banner-news">
    <h3 class="banner-h3">Everyone waits on Cyberpunk 2077</h3>
    <button class="btn btn-outline-light banner-btn">Read more <i class="fa fa-arrow-right"></i></button>

<div class="container carousel-news">
    

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

      <!--Controls-->
      <div class="controls-top row mb-5">
        <a class="btn btn-outline-light mt-2 carousel-news-buton" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn btn-outline-light mt-2 carousel-news-buton-right" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
        <h5 class="ml-3 text-light carousel-h5">Popular articles <br> <span class="text-white-50">Everyday we write the best articles.</span></h5>
      </div>
      <!--/.Controls-->

      <!--Indicators-->
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox">

        <!--First slide-->
      <div class="carousel-item active">

      <div class="row">
        <div class="col-md-4" v-for="news in newsfields" v-bind:key="news._id">
          
          <div class="card mb-2">
            <router-link class="choose-platform" :to="{name: 'readnews',params:{Nid:news._id}}" style="text-decoration: none">  
            <div class="postimet">
            <picture>
            <source class="picture" media="(min-width:1000px)" :srcset="news.bigimage">
            <source class="picture" media="(min-width:768px)" :srcset="news.mediumimage" >
            <img class="picture" :src="news.smallimage" alt="Flowers" style="width: 100%"> 
            </picture> 
            </div>
            <div class="card-body text-center">
            <div class="separator">
              <a class="btn btn-info mb-2 text-light ml-2 mr-2 ">News</a>
            </div>              
              <h5 class="card-title text-center trailerpost-title">{{news.title}}</h5>
            </div>
            </router-link>
          </div>
        </div>
      </div>
      </div>
        <!--/.First slide-->

        <!--Second slide-->
      <div class="carousel-item">
        <div class="row">
        <div class="col-md-4" v-for="news in newsfields" v-bind:key="news._id">
        <div class="card mb-2">
          <router-link class="choose-platform" :to="{name: 'readnews',params:{Nid:news._id}}" style="text-decoration: none">  
  
        <div class="postimet">
        <picture>
        <source class="picture" media="(min-width:1000px)" :srcset="news.bigimage">
        <source class="picture" media="(min-width:768px)" :srcset="news.mediumimage" >
        <img class="picture" :src="news.smallimage" alt="Flowers" style="width: 100%"> 
        </picture> 
        </div>
        <div class="card-body text-center">
        <div class="separator">
          <a class="btn btn-info mb-2 text-light ml-2 mr-2 ">News</a>
        </div>              
          <h5 class="card-title text-center trailerpost-title">{{news.title}}</h5>
        </div>
          </router-link>
      </div>
    </div>
  </div>
  </div>
     <!--/.Second slide-->
      </div>
      <!--/.Slides-->
    </div>
    </div>
    <!--/.Carousel Wrapper-->
    
    <!-- Middle Content -->
    <div class="card middle-content  mt-5">
        <div class="row no-gutters col-md-12 p-0">
          <div class="col-md-3 middle-left-content">
          <img src="../../assets/d1.jpg" class="card-img img-middle">
          <transition name="bounce">
          <img src="../../assets/ps4.webp" v-if="!bounce" class="card-img img-middle-ps">
          </transition>

      </div>
      <div class="col-md-5 mt-5" v-for="news in newsMiddle" v-bind:key="news._id" >
        <div class="card-body">
          <h1 class="card-title trailerpost-title">{{news.title}}</h1>
          <div class="b">
          <p class="card-text newspost-title"> {{news.content}}</p></div>
          <p class="card-text text-secondary"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
      <hr class="bg-warning hr-middle" >
      <button @click="bounce = !bounce" class="buton-middle btn btn-outline-warning">Hide<i class="fa fa-gamepad" style="font-size:20px"></i></button>
      </div>  
      <div class="col-md-4 mt-5 pt-5">
        <img src="../../assets/grid-COD.png" class="card-img" >
      </div>  
    </div>

  </div>


<!-- Canvas Section -->
<div  class="canvas-right" >
    <div class="float-right">
      <div>
<canvas id="myCanvas" width="150" height="100" ></canvas>
      </div>
    </div>
<div class="float-right">
<canvas id="canvas" width="150" height="100"></canvas>
</div>
</div >
<svg height="120" width="150" id="svg-polygon">
  <polygon points="40,80 ,80,0 ,100,100" style="fill:transparent;stroke:rgb(115, 222, 121);stroke-width:1" />
  Sorry, your browser does not support inline SVG.
</svg>
<div  class="canvas-left">
<canvas id="canvasPlus" width="130" height="100"></canvas>
<canvas id="canvasPlusSmall" width="130" height="100"></canvas>
</div>


<!-- Popular Category Articles -->
<div class="d-flex bd-highlight container">
  <div class="p-2 flex-grow-1 bd-highlight">
    <h1 style="color:rgb(86, 55, 148)"> Popular Articles </h1>
    <p class="text-secondary"> Most readed and shared articles from games category</p>
  </div>
  <div class="p-4 bd-highlight"><button  class="btn btn-outline-secondary btn-xl articles-but">Check all articles</button></div>
</div>
<hr class="bg-secondary">
<div class="card-group container">
  <div class="card" v-for="news in Popular" v-bind:key="news._id">
    
  <div class="postimet p-2">
  <picture>
        <source class="picture" media="(min-width:1000px)" :srcset="news.bigimage">
        <source class="picture" media="(min-width:768px)" :srcset="news.mediumimage" >
        <img class="picture" :src="news.smallimage" alt="Flowers" style="width: 100%"> 
    </picture> 
  </div>
  <div class="card-body">
      <h5 class="card-title trailerpost-title">{{news.title}}</h5>
      <div v-for="category in category" v-bind:key="category._id">
      <span v-if="news.category == category._id" class="text-success">{{category.name}}</span>
      </div>
      <hr class="bg-secondary">
      <div class="c">
      <p class="card-text newspost-title">{{news.content}}</p>
      </div>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <router-link class="btn btn-outline-primary btn-sm articles-but2" :to="{name: 'readnews',params:{Nid:news._id}}">Read More<i class="fa fa-arrow-right"></i></router-link> 
    </div>
  </div>
</div>
<hr class="container bg-light">
<div class="d-flex">
<button class="btn btn-outline-primary mx-auto my-5" @click="animated = !animated" > Load More <i class="fa fa-arrow-down"></i></button>
</div>
 <section>
<transition name="animate" enter-active-class="animate__animated animate__flipInY" leave-active-class="animate__animated animate__zoomOutRight">
<div class="card-group container" v-if="animated">
  <div class="card" v-for="news in Popular1" v-bind:key="news._id">
  <div class="postimet p-2">
  <picture>
        <source class="picture" media="(min-width:1000px)" :srcset="news.bigimage">
        <source class="picture" media="(min-width:768px)" :srcset="news.mediumimage" >
        <img class="picture" :src="news.smallimage" alt="Flowers" style="width: 100%"> 
    </picture> 
  </div>
  <div class="card-body">
      <h5 class="card-title trailerpost-title">{{news.title}}</h5>
      <div v-for="category in category" v-bind:key="category._id">
      <span v-if="news.category == category._id" class="text-success">{{category.name}}</span>
      </div>
      <hr class="bg-secondary">
      <div class="c">
      <p class="card-text newspost-title">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <router-link class="btn btn-outline-primary btn-sm articles-but2" :to="{name: 'readnews',params:{Nid:news._id}}">Read More<i class="fa fa-arrow-right"></i></router-link>
    </div>
  </div>
</div>
</transition>
 </section>
<!--Trailer Section -->


<div  class="row no-gutters col-md-12 p-0 my-5">
    <div class="col-md-2 middle-left-content">
<div class="recCanvas">
  <canvas id="CanvasCircle" width="100%" height="500px" ></canvas>
</div>
<div class="recCanvasUp">
    <canvas id="CanvasCircleUp" width="100%" height="200px"></canvas>
</div>
      </div>
      <div class="col-md-8 mt-5">
      <div class="card-body">
<vue-plyr >
  <div class="plyr__video-embed">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0E44DClsX5Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</vue-plyr>
      </div>
      </div>  
      <div class="col-md-2 middle-left-content">
        <div class="rightCanvasUp">
      <canvas id="CanvasCircleRight" width="100%" height="200px"></canvas>
        </div>
        <div class="rightCanvasDown">
       <canvas id="CanvasCircleRightDown" width="100%" height="200px"></canvas>         
        </div>
      </div>  
    </div>
    
  </div>
</template>

<script>
import axios from 'axios';

  export default {
    data () {
      return {
        news: {},
        category: {},
        newsfields: {},
        newsMiddle: {},
        Popular: {},
        Popular1: {},
        trailers: {},
        bounce: false,
        animated: false
      }
    },
    mounted(){
      //Canvasi Katror
      var canvas = document.getElementById('myCanvas');
      var context = canvas.getContext('2d');

      context.beginPath();
      context.rect(88, 40, 40, 40);
      context.fillStyle = 'transparent';
      context.fill();
      context.lineWidth = 5;
      context.strokeStyle = 'rgb(230, 111, 14)';
      context.stroke();

      //Canvasi Rreth
      var canvasRectangle = document.getElementById('canvas');
      var contextRec = canvasRectangle.getContext('2d');
      var centerX = canvasRectangle.width / 2;
      var centerY = canvasRectangle.height / 2;
      var radius = 20;

      contextRec.beginPath();
      contextRec.arc(centerX,centerY,radius,  2 * Math.PI, false);
      contextRec.fillStyle = 'transparent';
      contextRec.fill();
      contextRec.lineWidth = 5;
      contextRec.strokeStyle = 'rgb(226, 148, 255)';
      contextRec.stroke();

      //Canvasi GjysRreth
      var canvasCir = document.getElementById("CanvasCircle");
      var ctxCir = canvasCir.getContext("2d");
      ctxCir.beginPath();
      ctxCir.arc(-55,150,100,0,2*Math.PI);
      ctxCir.fillStyle = "rgb(98, 227, 227)";
      ctxCir.fill();
      ctxCir.lineWidth = 0;
      ctxCir.strokeStyle = 'rgb(98, 227, 227)';
      ctxCir.stroke();
      
      //Canvasi GjysRrethUp
      var canvasCirUp = document.getElementById("CanvasCircleUp");
      var ctxCirUp = canvasCirUp.getContext("2d");
      ctxCirUp.beginPath();
      ctxCirUp.arc(-55,120,90,0,2*Math.PI);
      ctxCirUp.fillStyle = "rgb(86, 55, 148)";
      ctxCirUp.fill();
      ctxCirUp.lineWidth = 0;
      ctxCirUp.strokeStyle = "rgb(86, 55, 148)";
      ctxCirUp.stroke();

      //Canvasi GjysRreth-Right
      var canvasCirRight = document.getElementById("CanvasCircleRight");
      var ctxCirRight = canvasCirRight.getContext("2d");
      ctxCirRight.beginPath();
      ctxCirRight.arc(135,120,90,0,2*Math.PI);
      ctxCirRight.fillStyle = "rgb(86, 55, 148)";
      ctxCirRight.fill();
      ctxCirRight.lineWidth = 0;
      ctxCirRight.strokeStyle = "rgb(86, 55, 148)";
      ctxCirRight.stroke();


      //Canvasi GjysRrethDown-Right
      var canvasCirRightDown = document.getElementById("CanvasCircleRightDown");
      var ctxCirRightDown = canvasCirRightDown.getContext("2d");
      ctxCirRightDown.beginPath();
      ctxCirRightDown.arc(135,120,90,0,2*Math.PI);
      ctxCirRightDown.fillStyle = "rgb(98, 227, 227)";
      ctxCirRightDown.fill();
      ctxCirRightDown.lineWidth = 0;
      ctxCirRightDown.strokeStyle = "rgb(98, 227, 227)";
      ctxCirRightDown.stroke();

      //Canvasi Plus
      var c = document.getElementById("canvasPlus");
      var ctx = c.getContext("2d");
      ctx.strokeStyle = "rgb(86, 55, 148)";
      ctx.fillStyle = "rgb(86, 55, 148)";
      ctx.fillRect(70, 10, 20, 80);
      ctx.fillRect(40, 40, 80, 20);
      ctx.moveTo(90,10);
      ctx.lineTo(90,40);
      ctx.moveTo(90,40);
      ctx.lineTo(120,40);
      ctx.moveTo(120,40);
      ctx.lineTo(120,60);
      ctx.moveTo(90,60);
      ctx.lineTo(120,60);
      ctx.moveTo(90,90);
      ctx.lineTo(90,60);
      ctx.moveTo(90,90);
      ctx.lineTo(70,90);
      ctx.moveTo(70,60);
      ctx.lineTo(70,90);
      ctx.moveTo(40,60);
      ctx.lineTo(70,60);
      ctx.moveTo(40,40);
      ctx.lineTo(40,60);
      ctx.moveTo(40,40);
      ctx.lineTo(70,40);
      ctx.moveTo(70,10);
      ctx.lineTo(70,40);
      ctx.moveTo(70,10);
      ctx.lineTo(90,10);
      ctx.stroke();


      //Canvas PlusSmall
      var cs = document.getElementById("canvasPlusSmall");
      var ctxS = cs.getContext("2d");
      ctxS.strokeStyle = "rgb(86, 55, 148)";
      ctxS.lineWidth = 2;
      ctxS.moveTo(65,25);
      ctxS.lineTo(60,30);
      ctxS.moveTo(70,40);
      ctxS.lineTo(60,30);
      ctxS.moveTo(70,40);
      ctxS.lineTo(60,50);
      ctxS.moveTo(65,55);
      ctxS.lineTo(60,50);
      ctxS.moveTo(75,45);
      ctxS.lineTo(65,55);
      ctxS.moveTo(75,45);
      ctxS.lineTo(85,55);
      ctxS.moveTo(85,55);
      ctxS.lineTo(90,50);
      ctxS.moveTo(65,25);
      ctxS.lineTo(75,35);
      ctxS.moveTo(85,25);
      ctxS.lineTo(75,35);
      ctxS.moveTo(90,30);
      ctxS.lineTo(85,25);
      ctxS.moveTo(90,30);
      ctxS.lineTo(80,40);
      ctxS.moveTo(90,50);
      ctxS.lineTo(80,40);
      ctxS.stroke();
      
    },
    created(){
        axios.get(`http://localhost:4000/news` )
    .then(response => {
        this.news = response.data.sort(function() {
  return .5 - Math.random();
}).slice(0,4)
    })
    .catch(e => {
        this.error.push(e)
    })

    axios.get(`http://localhost:4000/category` )
    .then(response => {
        this.category = response.data;
    })
    .catch(e => {
        this.error.push(e)
    })
    axios.get(`http://localhost:4000/news` )
    .then(response => {
        this.newsfields = response.data.slice(0,3)
        this.newsMiddle = response.data.slice(-1)
        this.Popular = response.data.slice(0,3)
        this.Popular1 = response.data.slice(-7, -4)
    })
    .catch(e => {
        this.error.push(e)
    })

     axios.get(`http://localhost:4000/trailers` )
    .then(response => {
        this.trailers = response.data;
    })
    .catch(e => {
        this.error.push(e)
    })
    },
  }
</script>

<style>
@import 'News.css';
</style>