<template>
  <div>
    <app-header v-if="!user.loggedIn"></app-header>
        <transition name="page" mode="out-in">
        <router-view :key="$route.fullPath"></router-view>
        <app-Panel></app-Panel>

        </transition>
        <app-footer v-if="!user.loggedIn"></app-footer>
  </div>
</template>

<script>
import Footer from './components/Footer/Footer.vue';
import Header from './components/Header/Header.vue';
import Panel from './components/Panel/Panel.vue';
import {mapGetters} from 'vuex'
export default {
  name: 'App',
  
  components:{
            appFooter:Footer,
            appHeader:Header,
            appPanel:Panel
        },
        computed:{
		
		...mapGetters({
		
			user:"user"
		}),  
        },
        
}
</script>

<style>
@import './assets/style.css';
</style>